{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "ET ACAS API",
    "description": "<h3>ET ACAS API Documentation </h3> <b>Published Date:</b> 5-September-2022 <b>Author: </b> Harpreet Jhita <b> Requirement:</b> API for ACAS  <b>Version History:</b> ET ACAS API is added"
  },
  "host": "cft-api-mgmt-demo.azure-api.net",
  "basePath": "/et-sya-api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader" : {
      "type" : "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery" : {
      "type": "apiKey",
      "name": "auth-token",
      "in": "header"
    }
  },
  "paths": {
    "/getLastModifiedCaseList": {
      "get": {
        "summary": "Return a list of CCD case IDs from a provided date",
        "operationId": "getLastModifiedCaseList",
        "parameters": [
          {
            "name": "datetime",
            "in": "query",
            "description": "Format - date time. The date from which the query should return cases which have been modified",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAcasDocuments": {
      "get": {
        "summary": "Return a list of documents on a case",
        "operationId": "getAcasDocuments",
        "parameters": [
          {
            "name": "caseId",
            "in": "query",
            "description": "CCD Case ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "examples": {
              "application/json" : {
                "ET1" : [
                  {
                    "documentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
                    "modifiedOn": "2022-10-07T10:32:37.791Z"
                  }
                ],
                "ET3": [
                  {
                    "documentId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
                    "modifiedOn": "2023-02-02T15:24:52.000+00:00"
                  },
                  {
                    "documentId": "cccccccc-cccc-cccc-cccc-cccccccccccc",
                    "modifiedOn": "2023-02-02T16:07:28.000+00:00"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/downloadAcasDocuments": {
      "get": {
        "summary": "Get a document from CDAM in binary format",
        "operationId": "downloadAcasDocuments",
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "description": "UUID for the document in DM Store",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getCaseData": {
      "get": {
        "summary": "Return case data from a list of provided IDs",
        "operationId": "getCaseData",
        "parameters": [
          {
            "name": "caseIds",
            "in": "query",
            "description": "A list of CaseIds to search. Should be comma seperated",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "examples": {
              "application/json": {
                  "id": 0,
                  "jurisdiction": "string",
                  "state": "string",
                  "case_type_id": "string",
                  "created_date": "2022-10-07T10:32:37.791Z",
                  "last_modified": "2022-10-07T10:32:37.791Z",
                  "locked_by_user_id": 0,
                  "security_level": 0,
                  "case_data": {
                    "typeOfClaim": [
                      "string"
                    ],
                    "typesOfClaim": [
                      "string"
                    ],
                    "caseType": "string",
                    "caseSource": "string",
                    "claimantRepresentedQuestion": "string",
                    "claimantWorkAddressQuestion": "string",
                    "ClaimantPcqId": "string",
                    "jurCodesCollection": [
                      {
                        "id": "string",
                        "value": {
                          "juridictionCodesList": "string",
                          "judgmentOutcome": "string",
                          "dateNotified": "string",
                          "disposalDate": "string",
                          "juridictionCodesSubList1": "string"
                        }
                      }
                    ],
                    "claimantIndType": {
                      "claimant_preferred_title": "string",
                      "claimant_title1": "string",
                      "claimant_title_other": "string",
                      "claimant_first_names": "string",
                      "claimant_last_name": "string",
                      "claimant_date_of_birth": "string",
                      "claimant_gender": "string",
                      "claimant_sex": "string",
                      "claimant_gender_identity_same": "string",
                      "claimant_gender_identity": "string"
                    },
                    "claimantType": {
                      "claimant_addressUK": {
                        "AddressLine1": "string",
                        "AddressLine2": "string",
                        "AddressLine3": "string",
                        "PostTown": "string",
                        "County": "string",
                        "PostCode": "string",
                        "Country": "string"
                      },
                      "claimant_phone_number": "string",
                      "claimant_mobile_number": "string",
                      "claimant_email_address": "string",
                      "claimant_contact_preference": "string",
                      "claimant_contact_language": "string"
                    },
                    "representativeClaimantType": {
                      "name_of_representative": "string",
                      "name_of_organisation": "string",
                      "representative_reference": "string",
                      "representative_occupation": "string",
                      "representative_occupation_other": "string",
                      "representative_address": {
                        "AddressLine1": "string",
                        "AddressLine2": "string",
                        "AddressLine3": "string",
                        "PostTown": "string",
                        "County": "string",
                        "PostCode": "string",
                        "Country": "string"
                      },
                      "representative_phone_number": "string",
                      "representative_mobile_number": "string",
                      "representative_email_address": "string",
                      "representative_preference": "string"
                    },
                    "claimantOtherType": {
                      "claimant_occupation": "string",
                      "claimant_employed_from": "string",
                      "claimant_employed_currently": "string",
                      "claimant_employed_to": "string",
                      "claimant_employed_notice_period": "string",
                      "claimant_disabled": "string",
                      "claimant_disabled_details": "string",
                      "claimant_notice_period": "string",
                      "claimant_notice_period_unit": "string",
                      "claimant_notice_period_duration": "string",
                      "claimant_average_weekly_hours": "string",
                      "claimant_pay_before_tax": "string",
                      "claimant_pay_after_tax": "string",
                      "claimant_pay_cycle": "string",
                      "claimant_pension_contribution": "string",
                      "claimant_pension_weekly_contribution": "string",
                      "claimant_benefits": "string",
                      "claimant_benefits_detail": "string",
                      "pastEmployer": "string",
                      "stillWorking": "string"
                    },
                    "respondentCollection": [
                      {
                        "id": "string",
                        "value": {
                          "response_status": "string",
                          "responseToClaim": "string",
                          "rejection_reason": "string",
                          "rejection_reason_other": "string",
                          "responseOutOfTime": "string",
                          "responseNotOnPrescribedForm": "string",
                          "responseRequiredInfoAbsent": "string",
                          "responseNotes": "string",
                          "response_referred_to_judge": "string",
                          "response_returned_from_judge": "string",
                          "respondent_name": "string",
                          "respondent_ACAS_question": "string",
                          "respondent_ACAS": "string",
                          "respondent_ACAS_no": "string",
                          "respondent_address": {
                            "AddressLine1": "string",
                            "AddressLine2": "string",
                            "AddressLine3": "string",
                            "PostTown": "string",
                            "County": "string",
                            "PostCode": "string",
                            "Country": "string"
                          },
                          "respondent_phone1": "string",
                          "respondent_phone2": "string",
                          "respondent_email": "string",
                          "respondent_contact_preference": "string",
                          "responseStruckOut": "string",
                          "responseStruckOutDate": "string",
                          "responseStruckOutChairman": "string",
                          "responseStruckOutReason": "string",
                          "responseRespondentAddress": {
                            "AddressLine1": "string",
                            "AddressLine2": "string",
                            "AddressLine3": "string",
                            "PostTown": "string",
                            "County": "string",
                            "PostCode": "string",
                            "Country": "string"
                          },
                          "responseRespondentPhone1": "string",
                          "responseRespondentPhone2": "string",
                          "responseRespondentEmail": "string",
                          "responseRespondentContactPreference": "string",
                          "responseReceived": "string",
                          "responseReceivedDate": "string",
                          "responseRespondentNameQuestion": "string",
                          "responseRespondentName": "string",
                          "responseContinue": "string",
                          "responseCounterClaim": "string",
                          "responseReference": "string",
                          "extensionRequested": "string",
                          "extensionGranted": "string",
                          "extensionDate": "string",
                          "et3Vetting": {
                            "et3ChooseRespondent": {
                              "value": {
                                "code": "string",
                                "label": "string"
                              },
                              "selectedLabel": "string",
                              "selectedCode": "string",
                              "list_items": [
                                {
                                  "code": "string",
                                  "label": "string"
                                }
                              ]
                            },
                            "et3IsThereAnEt3Response": "string",
                            "et3NoEt3Response": "string",
                            "et3GeneralNotes": "string",
                            "et3IsThereACompaniesHouseSearchDocument": "string",
                            "et3CompanyHouseDocument": {
                              "document_binary_url": "string",
                              "document_filename": "string",
                              "document_url": "string"
                            },
                            "et3GeneralNotesCompanyHouse": "string",
                            "et3IsThereAnIndividualSearchDocument": "string",
                            "et3IndividualInsolvencyDocument": {
                              "document_binary_url": "string",
                              "document_filename": "string",
                              "document_url": "string"
                            },
                            "et3GeneralNotesIndividualInsolvency": "string",
                            "et3LegalIssue": "string",
                            "et3LegalIssueGiveDetails": "string",
                            "et3GeneralNotesLegalEntity": "string",
                            "et3ResponseInTime": "string",
                            "et3ResponseInTimeDetails": "string",
                            "et3DoWeHaveRespondentsName": "string",
                            "et3GeneralNotesRespondentName": "string",
                            "et3DoesRespondentsNameMatch": "string",
                            "et3RespondentNameMismatchDetails": "string",
                            "et3GeneralNotesRespondentNameMatch": "string",
                            "et3DoWeHaveRespondentsAddress": "string",
                            "et3DoesRespondentsAddressMatch": "string",
                            "et3RespondentAddressMismatchDetails": "string",
                            "et3GeneralNotesRespondentAddress": "string",
                            "et3GeneralNotesAddressMatch": "string",
                            "et3IsCaseListedForHearing": "string",
                            "et3IsCaseListedForHearingDetails": "string",
                            "et3GeneralNotesCaseListed": "string",
                            "et3IsThisLocationCorrect": "string",
                            "et3GeneralNotesTransferApplication": "string",
                            "et3RegionalOffice": "string",
                            "et3WhyWeShouldChangeTheOffice": "string",
                            "et3ContestClaim": "string",
                            "et3ContestClaimGiveDetails": "string",
                            "et3GeneralNotesContestClaim": "string",
                            "et3ContractClaimSection7": "string",
                            "et3ContractClaimSection7Details": "string",
                            "et3GeneralNotesContractClaimSection7": "string",
                            "et3Rule26": "string",
                            "et3Rule26Details": "string",
                            "et3SuggestedIssues": [
                              "string"
                            ],
                            "et3SuggestedIssuesStrikeOut": "string",
                            "et3SuggestedIssueInterpreters": "string",
                            "et3SuggestedIssueJurisdictional": "string",
                            "et3SuggestedIssueAdjustments": "string",
                            "et3SuggestedIssueRule50": "string",
                            "et3SuggestedIssueTimePoints": "string",
                            "et3GeneralNotesRule26": "string",
                            "et3AdditionalInformation": "string",
                            "et3VettingDocument": {
                              "document_binary_url": "string",
                              "document_filename": "string",
                              "document_url": "string"
                            }
                          },
                          "et3VettingCompleted": "string"
                        }
                      }
                    ],
                    "claimantWorkAddress": {
                      "claimant_work_address": {
                        "AddressLine1": "string",
                        "AddressLine2": "string",
                        "AddressLine3": "string",
                        "PostTown": "string",
                        "County": "string",
                        "PostCode": "string",
                        "Country": "string"
                      },
                      "claimant_work_phone_number": "string"
                    },
                    "caseNotes": "string",
                    "additionalCaseInfo": {
                      "additional_live_appeal": "string",
                      "additional_sensitive": "string",
                      "doNotPostpone": "string",
                      "digitalFile": "string",
                      "reasonableAdjustment": "string"
                    },
                    "managingOffice": "string",
                    "newEmploymentType": {
                      "new_job": "string",
                      "newly_employed_from": "string",
                      "new_pay_before_tax": "string",
                      "new_job_pay_interval": "string"
                    },
                    "claimantRequests": {
                      "claim_outcome": [
                        "string"
                      ],
                      "claimant_compensation_text": "string",
                      "claimant_compensation_amount": "string",
                      "claimant_tribunal_recommendation": "string",
                      "whistleblowing": "string",
                      "whistleblowing_authority": "string",
                      "claim_description": "string",
                      "claim_description_document": {
                        "document_binary_url": "string",
                        "document_filename": "string",
                        "document_url": "string"
                      },
                      "discrimination_claims": [
                        "string"
                      ],
                      "pay_claims": [
                        "string"
                      ],
                      "other_claim": "string"
                    },
                    "claimantHearingPreference": {
                      "hearing_preferences": [
                        "string"
                      ],
                      "hearing_assistance": "string",
                      "reasonable_adjustments": "string",
                      "reasonable_adjustments_detail": "string"
                    },
                    "claimantTaskListChecks": {
                      "personalDetailsCheck": "string",
                      "employmentAndRespondentCheck": "string",
                      "claimDetailsCheck": "string"
                    },
                    "receiptDate": "string",
                    "hubLinksStatuses": {
                      "personalDetails": "string",
                      "et1ClaimForm": "string",
                      "respondentResponse": "string",
                      "hearingDetails": "string",
                      "requestsAndApplications": "string",
                      "respondentApplications": "string",
                      "contactTribunal": "string",
                      "tribunalOrders": "string",
                      "tribunalJudgements": "string",
                      "documents": "string"
                    },
                    "tribunalCorrespondenceAddress": {
                      "AddressLine1": "string",
                      "AddressLine2": "string",
                      "AddressLine3": "string",
                      "PostTown": "string",
                      "County": "string",
                      "PostCode": "string",
                      "Country": "string"
                    },
                    "tribunalCorrespondenceTelephone": "string",
                    "tribunalCorrespondenceFax": "string",
                    "tribunalCorrespondenceDX": "string",
                    "tribunalCorrespondenceEmail": "string",
                    "ethosCaseReference": "string",
                    "multipleReference": "string",
                    "multipleReferenceLinkMarkUp": "string",
                    "parentMultipleCaseId": "string",
                    "subMultipleName": "string",
                    "leadClaimant": "string",
                    "multipleFlag": "string",
                    "claimant_TypeOfClaimant": "string",
                    "claimant_Company": "string",
                    "preAcceptCase": {
                      "caseAccepted": "string",
                      "dateAccepted": "string",
                      "dateRejected": "string",
                      "rejectReason": [
                        "string"
                      ]
                    },
                    "claimServedDate": "string",
                    "feeGroupReference": "string",
                    "claimantWorkAddressQRespondent": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "repCollection": [
                      {
                        "id": "string",
                        "value": {
                          "dynamic_resp_rep_name": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "resp_rep_name": "string",
                          "name_of_representative": "string",
                          "name_of_organisation": "string",
                          "representative_reference": "string",
                          "representative_occupation": "string",
                          "representative_occupation_other": "string",
                          "representative_address": {
                            "AddressLine1": "string",
                            "AddressLine2": "string",
                            "AddressLine3": "string",
                            "PostTown": "string",
                            "County": "string",
                            "PostCode": "string",
                            "Country": "string"
                          },
                          "representative_phone_number": "string",
                          "representative_mobile_number": "string",
                          "representative_email_address": "string",
                          "representative_preference": "string",
                          "organisation": {
                            "OrganisationID": "string",
                            "OrganisationName": "string"
                          },
                          "myHmctsYesNo": "string"
                        }
                      }
                    ],
                    "positionType": "string",
                    "dateToPosition": "string",
                    "currentPosition": "string",
                    "fileLocation": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "fileLocationGlasgow": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "fileLocationAberdeen": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "fileLocationDundee": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "fileLocationEdinburgh": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "hearingCollection": [
                      {
                        "id": "string",
                        "value": {
                          "Hearing_type": "string",
                          "hearingPublicPrivate": "string",
                          "hearingNumber": "string",
                          "Hearing_venue": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "Hearing_venue_Scotland": "string",
                          "hearingEstLengthNum": "string",
                          "hearingEstLengthNumType": "string",
                          "hearingSitAlone": "string",
                          "hearingERMember": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "hearingEEMember": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "Hearing_stage": "string",
                          "Hearing_notes": "string",
                          "judge": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "Hearing_Glasgow": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "Hearing_Aberdeen": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "Hearing_Dundee": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "Hearing_Edinburgh": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "hearingDateCollection": [
                            {
                              "id": "string",
                              "value": {
                                "listedDate": "string",
                                "Hearing_status": "string",
                                "Postponed_by": "string",
                                "hearingVenueDay": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "hearingVenueDayScotland": "string",
                                "hearingRoom": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "hearingClerk": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "Hearing_typeReadingDeliberation": "string",
                                "Hearing_Glasgow": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "Hearing_Aberdeen": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "Hearing_Dundee": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "Hearing_Edinburgh": {
                                  "value": {
                                    "code": "string",
                                    "label": "string"
                                  },
                                  "selectedLabel": "string",
                                  "selectedCode": "string",
                                  "list_items": [
                                    {
                                      "code": "string",
                                      "label": "string"
                                    }
                                  ]
                                },
                                "hearingCaseDisposed": "string",
                                "Hearing_part_heard": "string",
                                "Hearing_reserved_judgement": "string",
                                "attendee_claimant": "string",
                                "attendee_non_attendees": "string",
                                "attendee_resp_no_rep": "string",
                                "attendee_resp_&_rep": "string",
                                "attendee_rep_only": "string",
                                "hearingTimingStart": "string",
                                "hearingTimingBreak": "string",
                                "hearingTimingResume": "string",
                                "hearingTimingFinish": "string",
                                "hearingTimingDuration": "string",
                                "HearingNotes2": "string",
                                "postponedDate": "string"
                              }
                            }
                          ],
                          "hearingFormat": [
                            "string"
                          ],
                          "judicialMediation": "string"
                        }
                      }
                    ],
                    "depositType": [
                      {
                        "id": "string",
                        "value": {
                          "Deposit_amount": "string",
                          "dynamicDepositOrderAgainst": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "depositOrderAgainst": "string",
                          "dynamicDepositRequestedBy": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "deposit_requested_by": "string",
                          "deposit_covers": "string",
                          "deposit_order_sent": "string",
                          "deposit_due": "string",
                          "depositReceived": "string",
                          "depositReceivedDate": "string",
                          "deposit_time_ext": "string",
                          "deposit_time_ext_due": "string",
                          "deposit_refund": "string",
                          "deposit_refund_date": "string",
                          "dynamicDepositRefundedTo": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "depositRefundedTo": "string",
                          "depositNotes": "string",
                          "depositDoc": {
                            "document_url": "string",
                            "document_binary_url": "string",
                            "document_filename": "string"
                          },
                          "depositAmountRefunded": "string"
                        }
                      }
                    ],
                    "judgementCollection": [
                      {
                        "id": "string",
                        "value": {
                          "non_hearing_judgment": "string",
                          "dynamicJudgementHearing": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "judgmentHearingDate": "string",
                          "judgement_type": "string",
                          "liability_optional": "string",
                          "jurisdictionCodes": [
                            {
                              "id": "string",
                              "value": {
                                "juridictionCodesList": "string",
                                "judgmentOutcome": "string",
                                "dateNotified": "string",
                                "disposalDate": "string",
                                "juridictionCodesSubList1": "string"
                              }
                            }
                          ],
                          "date_judgment_made": "string",
                          "date_judgment_sent": "string",
                          "judgment_notes": "string",
                          "judgement_outcome_doc": {
                            "document_url": "string",
                            "document_binary_url": "string",
                            "document_filename": "string"
                          },
                          "judgement_details": {
                            "folio_number": "string",
                            "reasons_given": "string",
                            "date_reasons_issued": "string",
                            "awardMade": "string",
                            "financialAwardMade": "string",
                            "remedy_left_to_parties": "string",
                            "reinstate_reengage_order": "string",
                            "reinstated_reengaged": "string",
                            "cert_of_correction_date": "string",
                            "cert_of_correction_sent": "string",
                            "non-financial_award": "string",
                            "total_award": "string",
                            "adjustment": "string",
                            "adjustmentPercentage": "string",
                            "certificateOfCorrection": "string"
                          },
                          "reconsiderations": {
                            "reconsideration": "string",
                            "reconsiderationDate": "string",
                            "reconsiderationOwnInitiative": "string",
                            "reconsiderationPartyInitiative": "string",
                            "dynamicReconsiderationPartyInitiative": {
                              "value": {
                                "code": "string",
                                "label": "string"
                              },
                              "selectedLabel": "string",
                              "selectedCode": "string",
                              "list_items": [
                                {
                                  "code": "string",
                                  "label": "string"
                                }
                              ]
                            },
                            "reconsiderationDirection": "string",
                            "reconsiderationDecision": "string"
                          },
                          "Judgement_costs": {
                            "costs_question": "string",
                            "costs_expenses_awarded_to": "string",
                            "costs_expenses_awarded_against": "string",
                            "costs_expenses_awarded_amount": "string",
                            "preparation_of_time_awarded_to": "string",
                            "preparation_of_time_awarded_against": "string",
                            "preparation_of_time_amount_awarded": "string",
                            "wasted_cost_awarded_to": "string",
                            "wasted_cost_awarded_against": "string",
                            "wasted_cost_amount_awarded": "string"
                          }
                        }
                      }
                    ],
                    "bfActions": [
                      {
                        "id": "string",
                        "value": {
                          "action": {
                            "value": {
                              "code": "string",
                              "label": "string"
                            },
                            "selectedLabel": "string",
                            "selectedCode": "string",
                            "list_items": [
                              {
                                "code": "string",
                                "label": "string"
                              }
                            ]
                          },
                          "cwActions": "string",
                          "dateEntered": "string",
                          "imported": "string",
                          "letters": "string",
                          "allActions": "string",
                          "bfDate": "string",
                          "cleared": "string",
                          "notes": "string"
                        }
                      }
                    ],
                    "clerkResponsible": {
                      "value": {
                        "code": "string",
                        "label": "string"
                      },
                      "selectedLabel": "string",
                      "selectedCode": "string",
                      "list_items": [
                        {
                          "code": "string",
                          "label": "string"
                        }
                      ]
                    },
                    "userLocation": "string",
                    "documentCollection": [
                      {
                        "id": "string",
                        "value": {
                          "typeOfDocument": "string",
                          "uploadedDocument": {
                            "document_binary_url": "string",
                            "document_filename": "string",
                            "document_url": "string"
                          },
                          "ownerDocument": "string",
                          "creationDate": "string",
                          "shortDescription": "string"
                        }
                      }
                    ],
                    "correspondenceScotType": {
                      "topLevel_Scot_Documents": "string",
                      "part_0_Scot_Documents": "string",
                      "part_1_Scot_Documents": "string",
                      "part_2_Scot_Documents": "string",
                      "part_3_Scot_Documents": "string",
                      "part_4_Scot_Documents": "string",
                      "part_5_Scot_Documents": "string",
                      "Part_6_Scot_Documents": "string",
                      "Part_7_Scot_Documents": "string",
                      "Part_8_Scot_Documents": "string",
                      "Part_9_Scot_Documents": "string",
                      "Part_10_Scot_Documents": "string",
                      "Part_11_Scot_Documents": "string",
                      "Part_12_Scot_Documents": "string",
                      "Part_13_Scot_Documents": "string",
                      "Part_14_Scot_Documents": "string",
                      "Part_15_Scot_Documents": "string",
                      "Part_16_Scot_Documents": "string",
                      "claimantORrespondent": "string",
                      "hearingNumber": "string",
                      "dynamicHearingNumber": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "letterAddress": "string"
                    },
                    "correspondenceType": {
                      "topLevel_Documents": "string",
                      "part_0_Documents": "string",
                      "part_1_Documents": "string",
                      "part_2_Documents": "string",
                      "part_3_Documents": "string",
                      "part_4_Documents": "string",
                      "part_5_Documents": "string",
                      "Part_6_Documents": "string",
                      "Part_7_Documents": "string",
                      "Part_8_Documents": "string",
                      "Part_9_Documents": "string",
                      "Part_10_Documents": "string",
                      "Part_11_Documents": "string",
                      "Part_12_Documents": "string",
                      "Part_13_Documents": "string",
                      "Part_14_Documents": "string",
                      "Part_15_Documents": "string",
                      "Part_16_Documents": "string",
                      "Part_17_Documents": "string",
                      "Part_18_Documents": "string",
                      "Part_20_Documents": "string",
                      "hearingNumber": "string",
                      "dynamicHearingNumber": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      }
                    },
                    "addressLabelsSelectionType": {
                      "claimantAddressLabel": "string",
                      "claimantRepAddressLabel": "string",
                      "respondentsAddressLabel": "string",
                      "respondentsRepsAddressLabel": "string"
                    },
                    "addressLabelCollection": [
                      {
                        "id": "string",
                        "value": {
                          "printLabel": "string",
                          "fullName": "string",
                          "fullAddress": "string",
                          "labelEntityName01": "string",
                          "labelEntityName02": "string",
                          "labelEntityAddress": {
                            "AddressLine1": "string",
                            "AddressLine2": "string",
                            "AddressLine3": "string",
                            "PostTown": "string",
                            "County": "string",
                            "PostCode": "string",
                            "Country": "string"
                          },
                          "labelEntityTelephone": "string",
                          "labelEntityFax": "string",
                          "labelEntityReference": "string",
                          "labelCaseReference": "string"
                        }
                      }
                    ],
                    "addressLabelsAttributesType": {
                      "numberOfSelectedLabels": "string",
                      "numberOfCopies": "string",
                      "startingLabel": "string",
                      "showTelFax": "string"
                    },
                    "allocatedOffice": "string",
                    "conciliationTrack": "string",
                    "counterClaim": "string",
                    "eccCases": [
                      {
                        "id": "string",
                        "value": {
                          "counterClaim": "string"
                        }
                      }
                    ],
                    "restrictedReporting": {
                      "dynamicRequestedBy": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "requestedBy": "string",
                      "dateCeased": "string",
                      "imposed": "string",
                      "rule503b": "string",
                      "excludedRegister": "string",
                      "startDate": "string",
                      "excludedNames": "string",
                      "deletedPhyRegister": "string"
                    },
                    "printHearingDetails": {
                      "tribunalCorrespondenceAddress": {
                        "AddressLine1": "string",
                        "AddressLine2": "string",
                        "AddressLine3": "string",
                        "PostTown": "string",
                        "County": "string",
                        "PostCode": "string",
                        "Country": "string"
                      },
                      "tribunalCorrespondenceTelephone": "string",
                      "tribunalCorrespondenceFax": "string",
                      "tribunalCorrespondenceDX": "string",
                      "tribunalCorrespondenceEmail": "string",
                      "reportDate": "string",
                      "hearingDateType": "string",
                      "listingDate": "string",
                      "listingDateFrom": "string",
                      "listingDateTo": "string",
                      "listingVenue": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "listingVenueScotland": "string",
                      "listingCollection": [
                        {
                          "id": "string",
                          "value": {
                            "causeListDate": "string",
                            "causeListTime": "string",
                            "causeListVenue": "string",
                            "elmoCaseReference": "string",
                            "jurisdictionCodesList": "string",
                            "hearingType": "string",
                            "positionType": "string",
                            "hearingJudgeName": "string",
                            "hearingEEMember": "string",
                            "hearingERMember": "string",
                            "hearingClerk": "string",
                            "hearingDay": "string",
                            "claimantName": "string",
                            "claimantTown": "string",
                            "claimantRepresentative": "string",
                            "respondent": "string",
                            "respondentTown": "string",
                            "respondentRepresentative": "string",
                            "estHearingLength": "string",
                            "Hearing_panel": "string",
                            "Hearing_room": "string",
                            "resp_others": "string",
                            "Hearing_notes": "string",
                            "judicialMediation": "string",
                            "hearingFormat": "string",
                            "hearingReadingDeliberationMembersChambers": "string"
                          }
                        }
                      ],
                      "listingVenueOfficeGlas": "string",
                      "listingVenueOfficeAber": "string",
                      "venueGlasgow": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "venueAberdeen": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "venueDundee": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "venueEdinburgh": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "hearingDocType": "string",
                      "hearingDocETCL": "string",
                      "roomOrNoRoom": "string",
                      "docMarkUp": "string",
                      "bfDateCollection": [
                        {
                          "id": "string",
                          "value": {
                            "caseReference": "string",
                            "broughtForwardAction": "string",
                            "broughtForwardDate": "string",
                            "broughtForwardDateCleared": "string",
                            "broughtForwardEnteredDate": "string",
                            "broughtForwardDateReason": "string"
                          }
                        }
                      ],
                      "clerkResponsible": {
                        "value": {
                          "code": "string",
                          "label": "string"
                        },
                        "selectedLabel": "string",
                        "selectedCode": "string",
                        "list_items": [
                          {
                            "code": "string",
                            "label": "string"
                          }
                        ]
                      },
                      "reportType": "string",
                      "documentName": "string",
                      "showAll": "string",
                      "localReportsSummaryHdr": {
                        "reportDate": "string",
                        "reportOffice": "string",
                        "receiptDate": "string",
                        "hearingDate": "string",
                        "date": "string",
                        "full": "string",
                        "half": "string",
                        "mins": "string",
                        "total": "string",
                        "eeMember": "string",
                        "erMember": "string",
                        "caseReference": "string",
                        "multipleRef": "string",
                        "multSub": "string",
                        "hearingNumber": "string",
                        "hearingType": "string",
                        "hearingTelConf": "string",
                        "hearingDuration": "string",
                        "hearingClerk": "string",
                        "clerk": "string",
                        "hearingSitAlone": "string",
                        "hearingJudge": "string",
                        "judgeType": "string",
                        "judgementDateSent": "string",
                        "position": "string",
                        "dateToPosition": "string",
                        "fileLocation": "string",
                        "fileLocationGlasgow": "string",
                        "fileLocationAberdeen": "string",
                        "fileLocationDundee": "string",
                        "fileLocationEdinburgh": "string",
                        "casesCompletedHearingTotal": "string",
                        "casesCompletedHearing": "string",
                        "sessionType": "string",
                        "sessionDays": "string",
                        "sessionDaysTotal": "string",
                        "sessionDaysTotalDetail": "string",
                        "completedPerSession": "string",
                        "completedPerSessionTotal": "string",
                        "ftSessionDays": "string",
                        "ftSessionDaysTotal": "string",
                        "ptSessionDays": "string",
                        "ptSessionDaysTotal": "string",
                        "ptSessionDaysPerCent": "string",
                        "otherSessionDaysTotal": "string",
                        "otherSessionDays": "string",
                        "conciliationTrack": "string",
                        "conciliationTrackNo": "string",
                        "ConNoneCasesCompletedHearing": "string",
                        "ConNoneSessionDays": "string",
                        "ConNoneCompletedPerSession": "string",
                        "ConFastCasesCompletedHearing": "string",
                        "ConFastSessionDays": "string",
                        "ConFastCompletedPerSession": "string",
                        "ConStdCasesCompletedHearing": "string",
                        "ConStdSessionDays": "string",
                        "ConStdCompletedPerSession": "string",
                        "ConOpenCasesCompletedHearing": "string",
                        "ConOpenSessionDays": "string",
                        "ConOpenCompletedPerSession": "string",
                        "totalCases": "string",
                        "Total26wk": "string",
                        "Total26wkPerCent": "string",
                        "Totalx26wk": "string",
                        "Totalx26wkPerCent": "string",
                        "Total4wk": "string",
                        "Total4wkPerCent": "string",
                        "Totalx4wk": "string",
                        "Totalx4wkPerCent": "string",
                        "respondentName": "string",
                        "actioned": "string",
                        "bfDate": "string",
                        "bfDateCleared": "string",
                        "reservedHearing": "string",
                        "hearingCM": "string",
                        "costs": "string",
                        "hearingInterloc": "string",
                        "hearingPH": "string",
                        "hearingPrelim": "string",
                        "stage": "string",
                        "hearingStage1": "string",
                        "hearingStage2": "string",
                        "hearingFull": "string",
                        "hearing": "string",
                        "remedy": "string",
                        "review": "string",
                        "reconsider": "string",
                        "subSplit": "string",
                        "leadCase": "string",
                        "et3ReceivedDate": "string",
                        "judicialMediation": "string",
                        "caseType": "string",
                        "singlesTotal": "string",
                        "multiplesTotal": "string",
                        "dateOfAcceptance": "string",
                        "respondentET3": [
                          {
                            "id": "string",
                            "value": {
                              "et3ReceivedDate": "string",
                              "respondentName": "string"
                            }
                          }
                        ],
                        "respondentET4": [
                          {
                            "id": "string",
                            "value": {
                              "actioned": "string",
                              "bfDate": "string",
                              "bfDateCleared": "string",
                              "user": "string"
                            }
                          }
                        ],
                        "listingHistory": [
                          {
                            "id": "string",
                            "value": {
                              "listedDate": "string",
                              "hearingNumber": "string",
                              "hearingType": "string",
                              "hearingStatus": "string",
                              "hearingClerk": "string"
                            }
                          }
                        ],
                        "ConNoneTotal": "string",
                        "ConStdTotal": "string",
                        "ConFastTotal": "string",
                        "ConOpenTotal": "string",
                        "ConNone26wkTotal": "string",
                        "ConStd26wkTotal": "string",
                        "ConFast26wkTotal": "string",
                        "ConOpen26wkTotal": "string",
                        "ConNone26wkTotalPerCent": "string",
                        "ConStd26wkTotalPerCent": "string",
                        "ConFast26wkTotalPerCent": "string",
                        "ConOpen26wkTotalPerCent": "string",
                        "xConNone26wkTotal": "string",
                        "xConStd26wkTotal": "string",
                        "xConFast26wkTotal": "string",
                        "xConOpen26wkTotal": "string",
                        "xConNone26wkTotalPerCent": "string",
                        "xConStd26wkTotalPerCent": "string",
                        "xConFast26wkTotalPerCent": "string",
                        "xConOpen26wkTotalPerCent": "string",
                        "delayedDaysForFirstHearing": "string",
                        "claimServedDay1Total": "string",
                        "claimServedDay1Percent": "string",
                        "claimServedDay2Total": "string",
                        "claimServedDay2Percent": "string",
                        "claimServedDay3Total": "string",
                        "claimServedDay3Percent": "string",
                        "claimServedDay4Total": "string",
                        "claimServedDay4Percent": "string",
                        "claimServedDay5Total": "string",
                        "claimServedDay5Percent": "string",
                        "claimServed6PlusDaysTotal": "string",
                        "claimServed6PlusDaysPercent": "string",
                        "claimServedTotal": "string",
                        "claimServedItems": [
                          {
                            "id": "string",
                            "value": {
                              "reportedNumberOfDays": "string",
                              "actualNumberOfDays": "string",
                              "claimServedType": "string",
                              "claimServedCaseNumber": "string",
                              "caseReceiptDate": "string",
                              "claimServedDate": "string"
                            }
                          }
                        ],
                        "manuallyCreatedTotalCases": "string",
                        "et1OnlineTotalCases": "string",
                        "eccTotalCases": "string",
                        "migratedTotalCases": "string",
                        "manuallyCreatedTotalCasesPercent": "string",
                        "et1OnlineTotalCasesPercent": "string",
                        "eccTotalCasesPercent": "string",
                        "migratedTotalCasesPercent": "string"
                      },
                      "localReportsSummary": [
                        {
                          "id": "string",
                          "value": {
                            "reportDate": "string",
                            "reportOffice": "string",
                            "receiptDate": "string",
                            "hearingDate": "string",
                            "date": "string",
                            "full": "string",
                            "half": "string",
                            "mins": "string",
                            "total": "string",
                            "eeMember": "string",
                            "erMember": "string",
                            "caseReference": "string",
                            "multipleRef": "string",
                            "multSub": "string",
                            "hearingNumber": "string",
                            "hearingType": "string",
                            "hearingTelConf": "string",
                            "hearingDuration": "string",
                            "hearingClerk": "string",
                            "clerk": "string",
                            "hearingSitAlone": "string",
                            "hearingJudge": "string",
                            "judgeType": "string",
                            "judgementDateSent": "string",
                            "position": "string",
                            "dateToPosition": "string",
                            "fileLocation": "string",
                            "fileLocationGlasgow": "string",
                            "fileLocationAberdeen": "string",
                            "fileLocationDundee": "string",
                            "fileLocationEdinburgh": "string",
                            "casesCompletedHearingTotal": "string",
                            "casesCompletedHearing": "string",
                            "sessionType": "string",
                            "sessionDays": "string",
                            "sessionDaysTotal": "string",
                            "sessionDaysTotalDetail": "string",
                            "completedPerSession": "string",
                            "completedPerSessionTotal": "string",
                            "ftSessionDays": "string",
                            "ftSessionDaysTotal": "string",
                            "ptSessionDays": "string",
                            "ptSessionDaysTotal": "string",
                            "ptSessionDaysPerCent": "string",
                            "otherSessionDaysTotal": "string",
                            "otherSessionDays": "string",
                            "conciliationTrack": "string",
                            "conciliationTrackNo": "string",
                            "ConNoneCasesCompletedHearing": "string",
                            "ConNoneSessionDays": "string",
                            "ConNoneCompletedPerSession": "string",
                            "ConFastCasesCompletedHearing": "string",
                            "ConFastSessionDays": "string",
                            "ConFastCompletedPerSession": "string",
                            "ConStdCasesCompletedHearing": "string",
                            "ConStdSessionDays": "string",
                            "ConStdCompletedPerSession": "string",
                            "ConOpenCasesCompletedHearing": "string",
                            "ConOpenSessionDays": "string",
                            "ConOpenCompletedPerSession": "string",
                            "totalCases": "string",
                            "Total26wk": "string",
                            "Total26wkPerCent": "string",
                            "Totalx26wk": "string",
                            "Totalx26wkPerCent": "string",
                            "Total4wk": "string",
                            "Total4wkPerCent": "string",
                            "Totalx4wk": "string",
                            "Totalx4wkPerCent": "string",
                            "respondentName": "string",
                            "actioned": "string",
                            "bfDate": "string",
                            "bfDateCleared": "string",
                            "reservedHearing": "string",
                            "hearingCM": "string",
                            "costs": "string",
                            "hearingInterloc": "string",
                            "hearingPH": "string",
                            "hearingPrelim": "string",
                            "stage": "string",
                            "hearingStage1": "string",
                            "hearingStage2": "string",
                            "hearingFull": "string",
                            "hearing": "string",
                            "remedy": "string",
                            "review": "string",
                            "reconsider": "string",
                            "subSplit": "string",
                            "leadCase": "string",
                            "et3ReceivedDate": "string",
                            "judicialMediation": "string",
                            "caseType": "string",
                            "singlesTotal": "string",
                            "multiplesTotal": "string",
                            "dateOfAcceptance": "string",
                            "respondentET3": [
                              {
                                "id": "string",
                                "value": {
                                  "et3ReceivedDate": "string",
                                  "respondentName": "string"
                                }
                              }
                            ],
                            "respondentET4": [
                              {
                                "id": "string",
                                "value": {
                                  "actioned": "string",
                                  "bfDate": "string",
                                  "bfDateCleared": "string",
                                  "user": "string"
                                }
                              }
                            ],
                            "listingHistory": [
                              {
                                "id": "string",
                                "value": {
                                  "listedDate": "string",
                                  "hearingNumber": "string",
                                  "hearingType": "string",
                                  "hearingStatus": "string",
                                  "hearingClerk": "string"
                                }
                              }
                            ],
                            "ConNoneTotal": "string",
                            "ConStdTotal": "string",
                            "ConFastTotal": "string",
                            "ConOpenTotal": "string",
                            "ConNone26wkTotal": "string",
                            "ConStd26wkTotal": "string",
                            "ConFast26wkTotal": "string",
                            "ConOpen26wkTotal": "string",
                            "ConNone26wkTotalPerCent": "string",
                            "ConStd26wkTotalPerCent": "string",
                            "ConFast26wkTotalPerCent": "string",
                            "ConOpen26wkTotalPerCent": "string",
                            "xConNone26wkTotal": "string",
                            "xConStd26wkTotal": "string",
                            "xConFast26wkTotal": "string",
                            "xConOpen26wkTotal": "string",
                            "xConNone26wkTotalPerCent": "string",
                            "xConStd26wkTotalPerCent": "string",
                            "xConFast26wkTotalPerCent": "string",
                            "xConOpen26wkTotalPerCent": "string",
                            "delayedDaysForFirstHearing": "string",
                            "claimServedDay1Total": "string",
                            "claimServedDay1Percent": "string",
                            "claimServedDay2Total": "string",
                            "claimServedDay2Percent": "string",
                            "claimServedDay3Total": "string",
                            "claimServedDay3Percent": "string",
                            "claimServedDay4Total": "string",
                            "claimServedDay4Percent": "string",
                            "claimServedDay5Total": "string",
                            "claimServedDay5Percent": "string",
                            "claimServed6PlusDaysTotal": "string",
                            "claimServed6PlusDaysPercent": "string",
                            "claimServedTotal": "string",
                            "claimServedItems": [
                              {
                                "id": "string",
                                "value": {
                                  "reportedNumberOfDays": "string",
                                  "actualNumberOfDays": "string",
                                  "claimServedType": "string",
                                  "claimServedCaseNumber": "string",
                                  "caseReceiptDate": "string",
                                  "claimServedDate": "string"
                                }
                              }
                            ],
                            "manuallyCreatedTotalCases": "string",
                            "et1OnlineTotalCases": "string",
                            "eccTotalCases": "string",
                            "migratedTotalCases": "string",
                            "manuallyCreatedTotalCasesPercent": "string",
                            "et1OnlineTotalCasesPercent": "string",
                            "eccTotalCasesPercent": "string",
                            "migratedTotalCasesPercent": "string"
                          }
                        }
                      ],
                      "localReportsSummaryHdr2": {
                        "reportDate": "string",
                        "reportOffice": "string",
                        "receiptDate": "string",
                        "hearingDate": "string",
                        "date": "string",
                        "full": "string",
                        "half": "string",
                        "mins": "string",
                        "total": "string",
                        "eeMember": "string",
                        "erMember": "string",
                        "caseReference": "string",
                        "multipleRef": "string",
                        "multSub": "string",
                        "hearingNumber": "string",
                        "hearingType": "string",
                        "hearingTelConf": "string",
                        "hearingDuration": "string",
                        "hearingClerk": "string",
                        "clerk": "string",
                        "hearingSitAlone": "string",
                        "hearingJudge": "string",
                        "judgeType": "string",
                        "judgementDateSent": "string",
                        "position": "string",
                        "dateToPosition": "string",
                        "fileLocation": "string",
                        "fileLocationGlasgow": "string",
                        "fileLocationAberdeen": "string",
                        "fileLocationDundee": "string",
                        "fileLocationEdinburgh": "string",
                        "casesCompletedHearingTotal": "string",
                        "casesCompletedHearing": "string",
                        "sessionType": "string",
                        "sessionDays": "string",
                        "sessionDaysTotal": "string",
                        "sessionDaysTotalDetail": "string",
                        "completedPerSession": "string",
                        "completedPerSessionTotal": "string",
                        "ftSessionDays": "string",
                        "ftSessionDaysTotal": "string",
                        "ptSessionDays": "string",
                        "ptSessionDaysTotal": "string",
                        "ptSessionDaysPerCent": "string",
                        "otherSessionDaysTotal": "string",
                        "otherSessionDays": "string",
                        "conciliationTrack": "string",
                        "conciliationTrackNo": "string",
                        "ConNoneCasesCompletedHearing": "string",
                        "ConNoneSessionDays": "string",
                        "ConNoneCompletedPerSession": "string",
                        "ConFastCasesCompletedHearing": "string",
                        "ConFastSessionDays": "string",
                        "ConFastCompletedPerSession": "string",
                        "ConStdCasesCompletedHearing": "string",
                        "ConStdSessionDays": "string",
                        "ConStdCompletedPerSession": "string",
                        "ConOpenCasesCompletedHearing": "string",
                        "ConOpenSessionDays": "string",
                        "ConOpenCompletedPerSession": "string",
                        "totalCases": "string",
                        "Total26wk": "string",
                        "Total26wkPerCent": "string",
                        "Totalx26wk": "string",
                        "Totalx26wkPerCent": "string",
                        "Total4wk": "string",
                        "Total4wkPerCent": "string",
                        "Totalx4wk": "string",
                        "Totalx4wkPerCent": "string",
                        "respondentName": "string",
                        "actioned": "string",
                        "bfDate": "string",
                        "bfDateCleared": "string",
                        "reservedHearing": "string",
                        "hearingCM": "string",
                        "costs": "string",
                        "hearingInterloc": "string",
                        "hearingPH": "string",
                        "hearingPrelim": "string",
                        "stage": "string",
                        "hearingStage1": "string",
                        "hearingStage2": "string",
                        "hearingFull": "string",
                        "hearing": "string",
                        "remedy": "string",
                        "review": "string",
                        "reconsider": "string",
                        "subSplit": "string",
                        "leadCase": "string",
                        "et3ReceivedDate": "string",
                        "judicialMediation": "string",
                        "caseType": "string",
                        "singlesTotal": "string",
                        "multiplesTotal": "string",
                        "dateOfAcceptance": "string",
                        "respondentET3": [
                          {
                            "id": "string",
                            "value": {
                              "et3ReceivedDate": "string",
                              "respondentName": "string"
                            }
                          }
                        ],
                        "respondentET4": [
                          {
                            "id": "string",
                            "value": {
                              "actioned": "string",
                              "bfDate": "string",
                              "bfDateCleared": "string",
                              "user": "string"
                            }
                          }
                        ],
                        "listingHistory": [
                          {
                            "id": "string",
                            "value": {
                              "listedDate": "string",
                              "hearingNumber": "string",
                              "hearingType": "string",
                              "hearingStatus": "string",
                              "hearingClerk": "string"
                            }
                          }
                        ],
                        "ConNoneTotal": "string",
                        "ConStdTotal": "string",
                        "ConFastTotal": "string",
                        "ConOpenTotal": "string",
                        "ConNone26wkTotal": "string",
                        "ConStd26wkTotal": "string",
                        "ConFast26wkTotal": "string",
                        "ConOpen26wkTotal": "string",
                        "ConNone26wkTotalPerCent": "string",
                        "ConStd26wkTotalPerCent": "string",
                        "ConFast26wkTotalPerCent": "string",
                        "ConOpen26wkTotalPerCent": "string",
                        "xConNone26wkTotal": "string",
                        "xConStd26wkTotal": "string",
                        "xConFast26wkTotal": "string",
                        "xConOpen26wkTotal": "string",
                        "xConNone26wkTotalPerCent": "string",
                        "xConStd26wkTotalPerCent": "string",
                        "xConFast26wkTotalPerCent": "string",
                        "xConOpen26wkTotalPerCent": "string",
                        "delayedDaysForFirstHearing": "string",
                        "claimServedDay1Total": "string",
                        "claimServedDay1Percent": "string",
                        "claimServedDay2Total": "string",
                        "claimServedDay2Percent": "string",
                        "claimServedDay3Total": "string",
                        "claimServedDay3Percent": "string",
                        "claimServedDay4Total": "string",
                        "claimServedDay4Percent": "string",
                        "claimServedDay5Total": "string",
                        "claimServedDay5Percent": "string",
                        "claimServed6PlusDaysTotal": "string",
                        "claimServed6PlusDaysPercent": "string",
                        "claimServedTotal": "string",
                        "claimServedItems": [
                          {
                            "id": "string",
                            "value": {
                              "reportedNumberOfDays": "string",
                              "actualNumberOfDays": "string",
                              "claimServedType": "string",
                              "claimServedCaseNumber": "string",
                              "caseReceiptDate": "string",
                              "claimServedDate": "string"
                            }
                          }
                        ],
                        "manuallyCreatedTotalCases": "string",
                        "et1OnlineTotalCases": "string",
                        "eccTotalCases": "string",
                        "migratedTotalCases": "string",
                        "manuallyCreatedTotalCasesPercent": "string",
                        "et1OnlineTotalCasesPercent": "string",
                        "eccTotalCasesPercent": "string",
                        "migratedTotalCasesPercent": "string"
                      },
                      "localReportsSummary2": [
                        {
                          "id": "string",
                          "value": {
                            "reportDate": "string",
                            "reportOffice": "string",
                            "receiptDate": "string",
                            "hearingDate": "string",
                            "date": "string",
                            "full": "string",
                            "half": "string",
                            "mins": "string",
                            "total": "string",
                            "eeMember": "string",
                            "erMember": "string",
                            "caseReference": "string",
                            "multipleRef": "string",
                            "multSub": "string",
                            "hearingNumber": "string",
                            "hearingType": "string",
                            "hearingTelConf": "string",
                            "hearingDuration": "string",
                            "hearingClerk": "string",
                            "clerk": "string",
                            "hearingSitAlone": "string",
                            "hearingJudge": "string",
                            "judgeType": "string",
                            "judgementDateSent": "string",
                            "position": "string",
                            "dateToPosition": "string",
                            "fileLocation": "string",
                            "fileLocationGlasgow": "string",
                            "fileLocationAberdeen": "string",
                            "fileLocationDundee": "string",
                            "fileLocationEdinburgh": "string",
                            "casesCompletedHearingTotal": "string",
                            "casesCompletedHearing": "string",
                            "sessionType": "string",
                            "sessionDays": "string",
                            "sessionDaysTotal": "string",
                            "sessionDaysTotalDetail": "string",
                            "completedPerSession": "string",
                            "completedPerSessionTotal": "string",
                            "ftSessionDays": "string",
                            "ftSessionDaysTotal": "string",
                            "ptSessionDays": "string",
                            "ptSessionDaysTotal": "string",
                            "ptSessionDaysPerCent": "string",
                            "otherSessionDaysTotal": "string",
                            "otherSessionDays": "string",
                            "conciliationTrack": "string",
                            "conciliationTrackNo": "string",
                            "ConNoneCasesCompletedHearing": "string",
                            "ConNoneSessionDays": "string",
                            "ConNoneCompletedPerSession": "string",
                            "ConFastCasesCompletedHearing": "string",
                            "ConFastSessionDays": "string",
                            "ConFastCompletedPerSession": "string",
                            "ConStdCasesCompletedHearing": "string",
                            "ConStdSessionDays": "string",
                            "ConStdCompletedPerSession": "string",
                            "ConOpenCasesCompletedHearing": "string",
                            "ConOpenSessionDays": "string",
                            "ConOpenCompletedPerSession": "string",
                            "totalCases": "string",
                            "Total26wk": "string",
                            "Total26wkPerCent": "string",
                            "Totalx26wk": "string",
                            "Totalx26wkPerCent": "string",
                            "Total4wk": "string",
                            "Total4wkPerCent": "string",
                            "Totalx4wk": "string",
                            "Totalx4wkPerCent": "string",
                            "respondentName": "string",
                            "actioned": "string",
                            "bfDate": "string",
                            "bfDateCleared": "string",
                            "reservedHearing": "string",
                            "hearingCM": "string",
                            "costs": "string",
                            "hearingInterloc": "string",
                            "hearingPH": "string",
                            "hearingPrelim": "string",
                            "stage": "string",
                            "hearingStage1": "string",
                            "hearingStage2": "string",
                            "hearingFull": "string",
                            "hearing": "string",
                            "remedy": "string",
                            "review": "string",
                            "reconsider": "string",
                            "subSplit": "string",
                            "leadCase": "string",
                            "et3ReceivedDate": "string",
                            "judicialMediation": "string",
                            "caseType": "string",
                            "singlesTotal": "string",
                            "multiplesTotal": "string",
                            "dateOfAcceptance": "string",
                            "respondentET3": [
                              {
                                "id": "string",
                                "value": {
                                  "et3ReceivedDate": "string",
                                  "respondentName": "string"
                                }
                              }
                            ],
                            "respondentET4": [
                              {
                                "id": "string",
                                "value": {
                                  "actioned": "string",
                                  "bfDate": "string",
                                  "bfDateCleared": "string",
                                  "user": "string"
                                }
                              }
                            ],
                            "listingHistory": [
                              {
                                "id": "string",
                                "value": {
                                  "listedDate": "string",
                                  "hearingNumber": "string",
                                  "hearingType": "string",
                                  "hearingStatus": "string",
                                  "hearingClerk": "string"
                                }
                              }
                            ],
                            "ConNoneTotal": "string",
                            "ConStdTotal": "string",
                            "ConFastTotal": "string",
                            "ConOpenTotal": "string",
                            "ConNone26wkTotal": "string",
                            "ConStd26wkTotal": "string",
                            "ConFast26wkTotal": "string",
                            "ConOpen26wkTotal": "string",
                            "ConNone26wkTotalPerCent": "string",
                            "ConStd26wkTotalPerCent": "string",
                            "ConFast26wkTotalPerCent": "string",
                            "ConOpen26wkTotalPerCent": "string",
                            "xConNone26wkTotal": "string",
                            "xConStd26wkTotal": "string",
                            "xConFast26wkTotal": "string",
                            "xConOpen26wkTotal": "string",
[...]
