{
  "openapi": "3.0.1",
  "info": {
    "version": "1.2",
    "title": "ET ACAS API",
    "description": "<h3>ET ACAS API Documentation </h3> <br><b>Published Date:</b> 5 September 2022<br><b>Last Updated:</b> 5 February 2025 <br><b>Author: </b> Harpreet Jhita<br> <b> Requirement:</b> API for ACAS  <br><b>Version History:</b> <li>V1: ET ACAS API is added</li><li>V1.1: Documents API added</li><li>V1.2: Schemas updated</li>"
  },
  "host": "cft-api-mgmt-demo.azure-api.net",
  "basePath": "/et-sya-api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader" : {
      "type" : "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery" : {
      "type": "apiKey",
      "name": "auth-token",
      "in": "header"
    }
  },
  "paths": {
    "/getLastModifiedCaseList": {
      "get": {
        "summary": "Return a list of CCD case IDs from a provided date",
        "operationId": "getLastModifiedCaseList",
        "parameters": [
          {
            "name": "datetime",
            "in": "query",
            "description": "Format - date time. The date from which the query should return cases which have been modified",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "examples": {
              "application/json" :
                [
                  1663235002066080,
                  1663164805587979,
                  1663851490895911,
                  1664202328205544,
                  1663744788990892,
                  1664439480848824,
                  1663711417034160,
                  1663711826854976
                ]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getCaseData": {
      "get": {
        "summary": "Return case data from a list of provided IDs",
        "operationId": "getCaseData",
        "parameters": [
          {
            "name": "caseIds",
            "in": "query",
            "description": "A list of CaseIds to search. Should be comma seperated",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CaseDetails"
                }
              }
            }          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAcasDocuments": {
      "get": {
        "summary": "Return a list of documents on a case",
        "operationId": "getAcasDocuments",
        "parameters": [
          {
            "name": "caseId",
            "in": "query",
            "description": "CCD Case ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "examples": {
              "application/json" : {
                "ET1" : [
                  {
                    "documentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
                    "modifiedOn": "2022-10-07T10:32:37.791Z"
                  }
                ],
                "ET3": [
                  {
                    "documentId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
                    "modifiedOn": "2023-02-02T15:24:52.000+00:00"
                  },
                  {
                    "documentId": "cccccccc-cccc-cccc-cccc-cccccccccccc",
                    "modifiedOn": "2023-02-02T16:07:28.000+00:00"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/downloadAcasDocuments": {
      "get": {
        "summary": "Get a document from CDAM in binary format",
        "operationId": "downloadAcasDocuments",
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "description": "UUID for the document in DM Store",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdminDecisionNotificationStateUpdateRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "admin_decision_id": {
            "type": "string"
          }
        }
      },
      "CaseDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "jurisdiction": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "created_date": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "locked_by_user_id": {
            "type": "integer",
            "format": "int32"
          },
          "security_level": {
            "type": "integer",
            "format": "int32"
          },
          "case_data": {
            "$ref": "#/components/schemas/CaseData"
          },
          "security_classification": {
            "type": "string",
            "enum": [
              "PUBLIC",
              "PRIVATE",
              "RESTRICTED"
            ]
          },
          "callback_response_status": {
            "type": "string"
          }
        }
      },
      "SubmitStoredRespondToTribunalRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "stored_response_id": {
            "type": "string"
          }
        }
      },
      "SubmitStoredRespondToApplicationRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "application_id": {
            "type": "string"
          },
          "stored_response_id": {
            "type": "string"
          }
        }
      },
      "DocumentType": {
        "type": "object",
        "properties": {
          "typeOfDocument": {
            "type": "string"
          },
          "uploadedDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "ownerDocument": {
            "type": "string"
          },
          "creationDate": {
            "type": "string"
          },
          "shortDescription": {
            "type": "string"
          },
          "topLevelDocuments": {
            "type": "string"
          },
          "startingClaimDocuments": {
            "type": "string"
          },
          "responseClaimDocuments": {
            "type": "string"
          },
          "initialConsiderationDocuments": {
            "type": "string"
          },
          "caseManagementDocuments": {
            "type": "string"
          },
          "withdrawalSettledDocuments": {
            "type": "string"
          },
          "hearingsDocuments": {
            "type": "string"
          },
          "judgmentAndReasonsDocuments": {
            "type": "string"
          },
          "reconsiderationDocuments": {
            "type": "string"
          },
          "miscDocuments": {
            "type": "string"
          },
          "documentType": {
            "type": "string"
          },
          "dateOfCorrespondence": {
            "type": "string"
          },
          "docNumber": {
            "type": "string"
          },
          "tornadoEmbeddedPdfUrl": {
            "type": "string"
          },
          "excludeFromDcf": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "documentIndex": {
            "type": "string"
          }
        }
      },
      "GenericTypeItemDocumentType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/DocumentType"
          }
        }
      },
      "PseResponseType": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "response": {
            "type": "string"
          },
          "hasSupportingMaterial": {
            "type": "string"
          },
          "supportingMaterial": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericTypeItemDocumentType"
            }
          },
          "copyToOtherParty": {
            "type": "string"
          },
          "copyNoGiveDetails": {
            "type": "string"
          },
          "responseState": {
            "type": "string"
          },
          "dateTime": {
            "type": "string"
          },
          "isECC": {
            "type": "string"
          }
        }
      },
      "SendNotificationAddResponseRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "send_notification_id": {
            "type": "string"
          },
          "supportingMaterialFile": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "pseResponseType": {
            "$ref": "#/components/schemas/PseResponseType"
          }
        }
      },
      "UploadedDocumentType": {
        "type": "object",
        "properties": {
          "document_binary_url": {
            "type": "string"
          },
          "document_filename": {
            "type": "string"
          },
          "document_url": {
            "type": "string"
          },
          "category_id": {
            "type": "string"
          },
          "upload_timestamp": {
            "type": "string"
          }
        }
      },
      "RespondToApplicationRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "supportingMaterialFile": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "response": {
            "$ref": "#/components/schemas/TseRespondType"
          },
          "isRespondingToRequestOrOrder": {
            "type": "boolean"
          }
        }
      },
      "TseRespondType": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "response": {
            "type": "string"
          },
          "hasSupportingMaterial": {
            "type": "string"
          },
          "supportingMaterial": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericTypeItemDocumentType"
            }
          },
          "copyToOtherParty": {
            "type": "string"
          },
          "copyNoGiveDetails": {
            "type": "string"
          },
          "summaryPdf": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "enterResponseTitle": {
            "type": "string"
          },
          "additionalInformation": {
            "type": "string"
          },
          "addDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericTypeItemDocumentType"
            }
          },
          "isCmoOrRequest": {
            "type": "string"
          },
          "cmoMadeBy": {
            "type": "string"
          },
          "requestMadeBy": {
            "type": "string"
          },
          "madeByFullName": {
            "type": "string"
          },
          "isResponseRequired": {
            "type": "string"
          },
          "selectPartyRespond": {
            "type": "string"
          },
          "selectPartyNotify": {
            "type": "string"
          },
          "viewedByClaimant": {
            "type": "string"
          },
          "dateTime": {
            "type": "string"
          },
          "applicationType": {
            "type": "string"
          }
        }
      },
      "ClaimantApplicationRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "type_c": {
            "type": "boolean"
          },
          "claimant_tse": {
            "$ref": "#/components/schemas/ClaimantTse"
          }
        }
      },
      "ClaimantTse": {
        "type": "object",
        "properties": {
          "contactApplicationType": {
            "type": "string"
          },
          "contactApplicationText": {
            "type": "string"
          },
          "contactApplicationFile": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "copyToOtherPartyYesOrNo": {
            "type": "string"
          },
          "copyToOtherPartyText": {
            "type": "string"
          },
          "storedApplicationId": {
            "type": "string"
          }
        }
      },
      "SendNotificationStateUpdateRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "send_notification_id": {
            "type": "string"
          }
        }
      },
      "HubLinksStatuses": {
        "type": "object",
        "properties": {
          "personalDetails": {
            "type": "string"
          },
          "et1ClaimForm": {
            "type": "string"
          },
          "respondentResponse": {
            "type": "string"
          },
          "hearingDetails": {
            "type": "string"
          },
          "requestsAndApplications": {
            "type": "string"
          },
          "respondentApplications": {
            "type": "string"
          },
          "contactTribunal": {
            "type": "string"
          },
          "tribunalOrders": {
            "type": "string"
          },
          "tribunalJudgements": {
            "type": "string"
          },
          "documents": {
            "type": "string"
          }
        }
      },
      "HubLinksStatusesRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "hub_links_statuses": {
            "$ref": "#/components/schemas/HubLinksStatuses"
          }
        }
      },
      "CaseRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "post_code": {
            "type": "string"
          },
          "case_data": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "TribunalResponseViewedRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "responseId": {
            "type": "string"
          }
        }
      },
      "ChangeApplicationStatusRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "application_id": {
            "type": "string"
          },
          "new_status": {
            "type": "string"
          }
        }
      },
      "ClaimantBundlesRequest": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "claimant_bundles": {
            "$ref": "#/components/schemas/HearingBundleType"
          }
        }
      },
      "HearingBundleType": {
        "type": "object",
        "properties": {
          "agreedDocWith": {
            "type": "string"
          },
          "agreedDocWithBut": {
            "type": "string"
          },
          "agreedDocWithNo": {
            "type": "string"
          },
          "hearing": {
            "type": "string"
          },
          "whatDocuments": {
            "type": "string"
          },
          "whoseDocuments": {
            "type": "string"
          },
          "uploadFile": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "formattedSelectedHearing": {
            "type": "string"
          },
          "uploadDateTime": {
            "type": "string"
          }
        }
      },
      "ModifyCaseUserRole": {
        "type": "object",
        "properties": {
          "case_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "case_role": {
            "type": "string"
          },
          "case_type_id": {
            "type": "string"
          },
          "respondent_name": {
            "type": "string"
          }
        }
      },
      "ModifyCaseUserRolesRequest": {
        "type": "object",
        "properties": {
          "case_users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModifyCaseUserRole"
            }
          }
        }
      },
      "FindCaseForRoleModificationRequest": {
        "type": "object",
        "properties": {
          "caseSubmissionReference": {
            "type": "string"
          },
          "respondentName": {
            "type": "string"
          },
          "claimantFirstNames": {
            "type": "string"
          },
          "claimantLastName": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "type": "string"
          },
          "AddressLine2": {
            "type": "string"
          },
          "AddressLine3": {
            "type": "string"
          },
          "PostTown": {
            "type": "string"
          },
          "County": {
            "type": "string"
          },
          "PostCode": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          }
        }
      },
      "DocumentTypeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/DocumentType"
          }
        }
      },
      "DynamicFixedListType": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/DynamicValueType"
          },
          "selectedLabel": {
            "type": "string"
          },
          "selectedCode": {
            "type": "string"
          },
          "list_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DynamicValueType"
            }
          }
        }
      },
      "DynamicValueType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "ET3CaseDetailsLinksStatuses": {
        "type": "object",
        "properties": {
          "personalDetails": {
            "type": "string"
          },
          "et1ClaimForm": {
            "type": "string"
          },
          "respondentResponse": {
            "type": "string"
          },
          "hearingDetails": {
            "type": "string"
          },
          "respondentRequestsAndApplications": {
            "type": "string"
          },
          "claimantApplications": {
            "type": "string"
          },
          "contactTribunal": {
            "type": "string"
          },
          "tribunalOrders": {
            "type": "string"
          },
          "tribunalJudgements": {
            "type": "string"
          },
          "documents": {
            "type": "string"
          }
        }
      },
      "ET3HubLinksStatuses": {
        "type": "object",
        "properties": {
          "contactDetails": {
            "type": "string"
          },
          "employerDetails": {
            "type": "string"
          },
          "conciliationAndEmployeeDetails": {
            "type": "string"
          },
          "payPensionBenefitDetails": {
            "type": "string"
          },
          "contestClaim": {
            "type": "string"
          },
          "employersContractClaim": {
            "type": "string"
          },
          "checkYorAnswers": {
            "type": "string"
          }
        }
      },
      "Et3Request": {
        "type": "object",
        "properties": {
          "caseSubmissionReference": {
            "type": "string"
          },
          "requestType": {
            "type": "string"
          },
          "caseTypeId": {
            "type": "string"
          },
          "caseDetailsLinksSectionId": {
            "type": "string"
          },
          "caseDetailsLinksSectionStatus": {
            "type": "string"
          },
          "responseHubLinksSectionId": {
            "type": "string"
          },
          "responseHubLinksSectionStatus": {
            "type": "string"
          },
          "respondent": {
            "$ref": "#/components/schemas/RespondentSumTypeItem"
          }
        }
      },
      "Et3VettingType": {
        "type": "object",
        "properties": {
          "et3ChooseRespondent": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "et3IsThereAnEt3Response": {
            "type": "string"
          },
          "et3NoEt3Response": {
            "type": "string"
          },
          "et3GeneralNotes": {
            "type": "string"
          },
          "et3IsThereACompaniesHouseSearchDocument": {
            "type": "string"
          },
          "et3CompanyHouseDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3GeneralNotesCompanyHouse": {
            "type": "string"
          },
          "et3IsThereAnIndividualSearchDocument": {
            "type": "string"
          },
          "et3IndividualInsolvencyDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3GeneralNotesIndividualInsolvency": {
            "type": "string"
          },
          "et3LegalIssue": {
            "type": "string"
          },
          "et3LegalIssueGiveDetails": {
            "type": "string"
          },
          "et3GeneralNotesLegalEntity": {
            "type": "string"
          },
          "et3ResponseInTime": {
            "type": "string"
          },
          "et3ResponseInTimeDetails": {
            "type": "string"
          },
          "et3DoWeHaveRespondentsName": {
            "type": "string"
          },
          "et3GeneralNotesRespondentName": {
            "type": "string"
          },
          "et3DoesRespondentsNameMatch": {
            "type": "string"
          },
          "et3RespondentNameMismatchDetails": {
            "type": "string"
          },
          "et3GeneralNotesRespondentNameMatch": {
            "type": "string"
          },
          "et3DoWeHaveRespondentsAddress": {
            "type": "string"
          },
          "et3DoesRespondentsAddressMatch": {
            "type": "string"
          },
          "et3RespondentAddressMismatchDetails": {
            "type": "string"
          },
          "et3GeneralNotesRespondentAddress": {
            "type": "string"
          },
          "et3GeneralNotesAddressMatch": {
            "type": "string"
          },
          "et3IsCaseListedForHearing": {
            "type": "string"
          },
          "et3IsCaseListedForHearingDetails": {
            "type": "string"
          },
          "et3GeneralNotesCaseListed": {
            "type": "string"
          },
          "et3IsThisLocationCorrect": {
            "type": "string"
          },
          "et3GeneralNotesTransferApplication": {
            "type": "string"
          },
          "et3RegionalOffice": {
            "type": "string"
          },
          "et3WhyWeShouldChangeTheOffice": {
            "type": "string"
          },
          "et3ContestClaim": {
            "type": "string"
          },
          "et3ContestClaimGiveDetails": {
            "type": "string"
          },
          "et3GeneralNotesContestClaim": {
            "type": "string"
          },
          "et3ContractClaimSection7": {
            "type": "string"
          },
          "et3ContractClaimSection7Details": {
            "type": "string"
          },
          "et3GeneralNotesContractClaimSection7": {
            "type": "string"
          },
          "et3Rule26": {
            "type": "string"
          },
          "et3Rule26Details": {
            "type": "string"
          },
          "et3SuggestedIssues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "et3SuggestedIssuesStrikeOut": {
            "type": "string"
          },
          "et3SuggestedIssueInterpreters": {
            "type": "string"
          },
          "et3SuggestedIssueJurisdictional": {
            "type": "string"
          },
          "et3SuggestedIssueAdjustments": {
            "type": "string"
          },
          "et3SuggestedIssueRule50": {
            "type": "string"
          },
          "et3SuggestedIssueTimePoints": {
            "type": "string"
          },
          "et3GeneralNotesRule26": {
            "type": "string"
          },
          "et3AdditionalInformation": {
            "type": "string"
          },
          "et3VettingDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          }
        }
      },
      "RespondentSumType": {
        "type": "object",
        "properties": {
          "response_status": {
            "type": "string"
          },
          "responseToClaim": {
            "type": "string"
          },
          "rejection_reason": {
            "type": "string"
          },
          "rejection_reason_other": {
            "type": "string"
          },
          "responseOutOfTime": {
            "type": "string"
          },
          "responseNotOnPrescribedForm": {
            "type": "string"
          },
          "responseRequiredInfoAbsent": {
            "type": "string"
          },
          "responseNotes": {
            "type": "string"
          },
          "response_referred_to_judge": {
            "type": "string"
          },
          "response_returned_from_judge": {
            "type": "string"
          },
          "respondent_name": {
            "type": "string"
          },
          "respondent_hearing_panel_preference": {
            "type": "string"
          },
          "respondent_hearing_panel_preference_reason": {
            "type": "string"
          },
          "respondentType": {
            "type": "string"
          },
          "respondentOrganisation": {
            "type": "string"
          },
          "respondentFirstName": {
            "type": "string"
          },
          "respondentLastName": {
            "type": "string"
          },
          "respondent_ACAS_question": {
            "type": "string"
          },
          "respondent_ACAS": {
            "type": "string"
          },
          "respondent_ACAS_no": {
            "type": "string"
          },
          "respondent_address": {
            "$ref": "#/components/schemas/Address"
          },
          "respondent_phone1": {
            "type": "string"
          },
          "respondent_phone2": {
            "type": "string"
          },
          "respondent_email": {
            "type": "string"
          },
          "respondent_contact_preference": {
            "type": "string"
          },
          "responseStruckOut": {
            "type": "string"
          },
          "responseStruckOutDate": {
            "type": "string"
          },
          "responseStruckOutChairman": {
            "type": "string"
          },
          "responseStruckOutReason": {
            "type": "string"
          },
          "responseRespondentAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "responseRespondentPhone1": {
            "type": "string"
          },
          "responseRespondentPhone2": {
            "type": "string"
          },
          "responseRespondentEmail": {
            "type": "string"
          },
          "responseRespondentContactPreference": {
            "type": "string"
          },
          "responseReceived": {
            "type": "string"
          },
          "responseReceivedDate": {
            "type": "string"
          },
          "responseReceivedCount": {
            "type": "string"
          },
          "responseRespondentNameQuestion": {
            "type": "string"
          },
          "responseRespondentName": {
            "type": "string"
          },
          "responseContinue": {
            "type": "string"
          },
          "responseCounterClaim": {
            "type": "string"
          },
          "responseReference": {
            "type": "string"
          },
          "extensionRequested": {
            "type": "string"
          },
          "extensionGranted": {
            "type": "string"
          },
          "extensionDate": {
            "type": "string"
          },
          "extensionResubmitted": {
            "type": "string"
          },
          "et3Vetting": {
            "$ref": "#/components/schemas/Et3VettingType"
          },
          "et3VettingCompleted": {
            "type": "string"
          },
          "et3ResponseIsClaimantNameCorrect": {
            "type": "string"
          },
          "et3ResponseClaimantNameCorrection": {
            "type": "string"
          },
          "et3ResponseRespondentCompanyNumber": {
            "type": "string"
          },
          "et3ResponseRespondentEmployerType": {
            "type": "string"
          },
          "et3ResponseRespondentPreferredTitle": {
            "type": "string"
          },
          "et3ResponseRespondentContactName": {
            "type": "string"
          },
          "et3ResponseDXAddress": {
            "type": "string"
          },
          "et3ResponseContactReason": {
            "type": "string"
          },
          "et3ResponseHearingRepresentative": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "et3ResponseHearingRespondent": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "et3ResponseEmploymentCount": {
            "type": "string"
          },
          "et3ResponseMultipleSites": {
            "type": "string"
          },
          "et3ResponseSiteEmploymentCount": {
            "type": "string"
          },
          "et3ResponseAcasAgree": {
            "type": "string"
          },
          "et3ResponseAcasAgreeReason": {
            "type": "string"
          },
          "et3ResponseAreDatesCorrect": {
            "type": "string"
          },
          "et3ResponseEmploymentStartDate": {
            "type": "string"
          },
          "et3ResponseEmploymentEndDate": {
            "type": "string"
          },
          "et3ResponseEmploymentInformation": {
            "type": "string"
          },
          "et3ResponseContinuingEmployment": {
            "type": "string"
          },
          "et3ResponseIsJobTitleCorrect": {
            "type": "string"
          },
          "et3ResponseCorrectJobTitle": {
            "type": "string"
          },
          "et3ResponseClaimantWeeklyHours": {
            "type": "string"
          },
          "et3ResponseClaimantCorrectHours": {
            "type": "string"
          },
          "et3ResponseEarningDetailsCorrect": {
            "type": "string"
          },
          "et3ResponsePayFrequency": {
            "type": "string"
          },
          "et3ResponsePayBeforeTax": {
            "type": "string"
          },
          "et3ResponsePayTakehome": {
            "type": "string"
          },
          "et3ResponseIsNoticeCorrect": {
            "type": "string"
          },
          "et3ResponseCorrectNoticeDetails": {
            "type": "string"
          },
          "et3ResponseIsPensionCorrect": {
            "type": "string"
          },
          "et3ResponsePensionCorrectDetails": {
            "type": "string"
          },
          "et3ResponseRespondentContestClaim": {
            "type": "string"
          },
          "et3ResponseContestClaimDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "et3ResponseContestClaimDetails": {
            "type": "string"
          },
          "et3ResponseEmployerClaim": {
            "type": "string"
          },
          "et3ResponseEmployerClaimDetails": {
            "type": "string"
          },
          "et3ResponseEmployerClaimDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3ResponseRespondentSupportNeeded": {
            "type": "string"
          },
          "et3ResponseRespondentSupportDetails": {
            "type": "string"
          },
          "et3ResponseRespondentSupportDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3Form": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3FormWelsh": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "personalDetailsSection": {
            "type": "string"
          },
          "employmentDetailsSection": {
            "type": "string"
          },
          "claimDetailsSection": {
            "type": "string"
          },
          "idamId": {
            "type": "string"
          },
          "et3CaseDetailsLinksStatuses": {
            "$ref": "#/components/schemas/ET3CaseDetailsLinksStatuses"
          },
          "et3HubLinksStatuses": {
            "$ref": "#/components/schemas/ET3HubLinksStatuses"
          },
          "et3ResponseLanguagePreference": {
            "type": "string"
          },
          "et3ResponseHearingRespondentNoDetails": {
            "type": "string"
          },
          "et3Status": {
            "type": "string"
          },
          "et3IsRespondentAddressCorrect": {
            "type": "string"
          },
          "contactDetailsSection": {
            "type": "string"
          },
          "employerDetailsSection": {
            "type": "string"
          },
          "conciliationAndEmployeeDetailsSection": {
            "type": "string"
          },
          "payPensionBenefitDetailsSection": {
            "type": "string"
          },
          "contestClaimSection": {
            "type": "string"
          },
          "employersContractClaimSection": {
            "type": "string"
          }
        }
      },
      "RespondentSumTypeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/RespondentSumType"
          }
        }
      },
      "CaseDocument": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "format": "uri"
          },
          "classification": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "originalDocumentName": {
            "type": "string"
          },
          "hashToken": {
            "type": "string"
          },
          "createdOn": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "modifiedOn": {
            "type": "string"
          },
          "ttl": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "_links": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      },
      "AdditionalCaseInfoType": {
        "type": "object",
        "properties": {
          "additional_live_appeal": {
            "type": "string"
          },
          "additional_sensitive": {
            "type": "string"
          },
          "doNotPostpone": {
            "type": "string"
          },
          "digitalFile": {
            "type": "string"
          },
          "reasonableAdjustment": {
            "type": "string"
          }
        }
      },
      "AddressLabelType": {
        "type": "object",
        "properties": {
          "printLabel": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "fullAddress": {
            "type": "string"
          },
          "labelEntityName01": {
            "type": "string"
          },
          "labelEntityName02": {
            "type": "string"
          },
          "labelEntityAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "labelEntityTelephone": {
            "type": "string"
          },
          "labelEntityFax": {
            "type": "string"
          },
          "labelEntityReference": {
            "type": "string"
          },
          "labelCaseReference": {
            "type": "string"
          }
        }
      },
      "AddressLabelTypeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/AddressLabelType"
          }
        }
      },
      "AddressLabelsAttributesType": {
        "type": "object",
        "properties": {
          "numberOfSelectedLabels": {
            "type": "string"
          },
          "numberOfCopies": {
            "type": "string"
          },
          "startingLabel": {
            "type": "string"
          },
          "showTelFax": {
            "type": "string"
          }
        }
      },
      "AddressLabelsSelectionType": {
        "type": "object",
        "properties": {
          "claimantAddressLabel": {
            "type": "string"
          },
          "claimantRepAddressLabel": {
            "type": "string"
          },
          "respondentsAddressLabel": {
            "type": "string"
          },
          "respondentsRepsAddressLabel": {
            "type": "string"
          }
        }
      },
      "AdhocReportType": {
        "type": "object",
        "properties": {
          "reportDate": {
            "type": "string"
          },
          "reportOffice": {
            "type": "string"
          },
          "receiptDate": {
            "type": "string"
          },
          "hearingDate": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "full": {
            "type": "string"
          },
          "half": {
            "type": "string"
          },
          "mins": {
            "type": "string"
          },
          "total": {
            "type": "string"
          },
          "eeMember": {
            "type": "string"
          },
          "erMember": {
            "type": "string"
          },
          "caseReference": {
            "type": "string"
          },
          "multipleRef": {
            "type": "string"
          },
          "multSub": {
            "type": "string"
          },
          "hearingNumber": {
            "type": "string"
          },
          "hearingType": {
            "type": "string"
          },
          "hearingTelConf": {
            "type": "string"
          },
          "hearingDuration": {
            "type": "string"
          },
          "hearingClerk": {
            "type": "string"
          },
          "clerk": {
            "type": "string"
          },
          "hearingSitAlone": {
            "type": "string"
          },
          "hearingJudge": {
            "type": "string"
          },
          "judgeType": {
            "type": "string"
          },
          "judgementDateSent": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "dateToPosition": {
            "type": "string"
          },
          "fileLocation": {
            "type": "string"
          },
          "fileLocationGlasgow": {
            "type": "string"
          },
          "fileLocationAberdeen": {
            "type": "string"
          },
          "fileLocationDundee": {
            "type": "string"
          },
          "fileLocationEdinburgh": {
            "type": "string"
          },
          "casesCompletedHearingTotal": {
            "type": "string"
          },
          "casesCompletedHearing": {
            "type": "string"
          },
          "sessionType": {
            "type": "string"
          },
          "sessionDays": {
            "type": "string"
          },
          "sessionDaysTotal": {
            "type": "string"
          },
          "sessionDaysTotalDetail": {
            "type": "string"
          },
          "completedPerSession": {
            "type": "string"
          },
          "completedPerSessionTotal": {
            "type": "string"
          },
          "ftSessionDays": {
            "type": "string"
          },
          "ftSessionDaysTotal": {
            "type": "string"
          },
          "ptSessionDays": {
            "type": "string"
          },
          "ptSessionDaysTotal": {
            "type": "string"
          },
          "ptSessionDaysPerCent": {
            "type": "string"
          },
          "otherSessionDaysTotal": {
            "type": "string"
          },
          "otherSessionDays": {
            "type": "string"
          },
          "conciliationTrack": {
            "type": "string"
          },
          "conciliationTrackNo": {
            "type": "string"
          },
          "ConNoneCasesCompletedHearing": {
            "type": "string"
          },
          "ConNoneSessionDays": {
            "type": "string"
          },
          "ConNoneCompletedPerSession": {
            "type": "string"
          },
          "ConFastCasesCompletedHearing": {
            "type": "string"
          },
          "ConFastSessionDays": {
            "type": "string"
          },
          "ConFastCompletedPerSession": {
            "type": "string"
          },
          "ConStdCasesCompletedHearing": {
            "type": "string"
          },
          "ConStdSessionDays": {
            "type": "string"
          },
          "ConStdCompletedPerSession": {
            "type": "string"
          },
          "ConOpenCasesCompletedHearing": {
            "type": "string"
          },
          "ConOpenSessionDays": {
            "type": "string"
          },
          "ConOpenCompletedPerSession": {
            "type": "string"
          },
          "totalCases": {
            "type": "string"
          },
          "Total26wk": {
            "type": "string"
          },
          "Total26wkPerCent": {
            "type": "string"
          },
          "Totalx26wk": {
            "type": "string"
          },
          "Totalx26wkPerCent": {
            "type": "string"
          },
          "Total4wk": {
            "type": "string"
          },
          "Total4wkPerCent": {
            "type": "string"
          },
          "Totalx4wk": {
            "type": "string"
          },
          "Totalx4wkPerCent": {
            "type": "string"
          },
          "respondentName": {
            "type": "string"
          },
          "actioned": {
            "type": "string"
          },
          "bfDate": {
            "type": "string"
          },
          "bfDateCleared": {
            "type": "string"
          },
          "reservedHearing": {
            "type": "string"
          },
          "hearingCM": {
            "type": "string"
          },
          "costs": {
            "type": "string"
          },
          "hearingInterloc": {
            "type": "string"
          },
          "hearingPH": {
            "type": "string"
          },
          "hearingPrelim": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "hearingStage1": {
            "type": "string"
          },
          "hearingStage2": {
            "type": "string"
          },
          "hearingFull": {
            "type": "string"
          },
          "hearing": {
            "type": "string"
          },
          "remedy": {
            "type": "string"
          },
          "review": {
            "type": "string"
          },
          "reconsider": {
            "type": "string"
          },
          "subSplit": {
            "type": "string"
          },
          "leadCase": {
            "type": "string"
          },
          "et3ReceivedDate": {
            "type": "string"
          },
          "judicialMediation": {
            "type": "string"
          },
          "caseType": {
            "type": "string"
          },
          "singlesTotal": {
            "type": "string"
          },
          "multiplesTotal": {
            "type": "string"
          },
          "dateOfAcceptance": {
            "type": "string"
          },
          "respondentET3": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportRespondentTypeItem"
            }
          },
          "respondentET4": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportET4TypeItem"
            }
          },
          "listingHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportListingsTypeItem"
            }
          },
          "ConNoneTotal": {
            "type": "string"
          },
          "ConStdTotal": {
            "type": "string"
          },
          "ConFastTotal": {
            "type": "string"
          },
          "ConOpenTotal": {
            "type": "string"
          },
          "ConNone26wkTotal": {
            "type": "string"
          },
          "ConStd26wkTotal": {
            "type": "string"
          },
          "ConFast26wkTotal": {
            "type": "string"
          },
          "ConOpen26wkTotal": {
            "type": "string"
          },
          "ConNone26wkTotalPerCent": {
            "type": "string"
          },
          "ConStd26wkTotalPerCent": {
            "type": "string"
          },
          "ConFast26wkTotalPerCent": {
            "type": "string"
          },
          "ConOpen26wkTotalPerCent": {
            "type": "string"
          },
          "xConNone26wkTotal": {
            "type": "string"
          },
          "xConStd26wkTotal": {
            "type": "string"
          },
          "xConFast26wkTotal": {
            "type": "string"
          },
          "xConOpen26wkTotal": {
            "type": "string"
          },
          "xConNone26wkTotalPerCent": {
            "type": "string"
          },
          "xConStd26wkTotalPerCent": {
            "type": "string"
          },
          "xConFast26wkTotalPerCent": {
            "type": "string"
          },
          "xConOpen26wkTotalPerCent": {
            "type": "string"
          },
          "delayedDaysForFirstHearing": {
            "type": "string"
          },
          "claimServedDay1Total": {
            "type": "string"
          },
          "claimServedDay1Percent": {
            "type": "string"
          },
          "claimServedDay2Total": {
            "type": "string"
          },
          "claimServedDay2Percent": {
            "type": "string"
          },
          "claimServedDay3Total": {
            "type": "string"
          },
          "claimServedDay3Percent": {
            "type": "string"
          },
          "claimServedDay4Total": {
            "type": "string"
          },
          "claimServedDay4Percent": {
            "type": "string"
          },
          "claimServedDay5Total": {
            "type": "string"
          },
          "claimServedDay5Percent": {
            "type": "string"
          },
          "claimServed6PlusDaysTotal": {
            "type": "string"
          },
          "claimServed6PlusDaysPercent": {
            "type": "string"
          },
          "claimServedTotal": {
            "type": "string"
          },
          "claimServedItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimServedTypeItem"
            }
          },
          "manuallyCreatedTotalCases": {
            "type": "string"
          },
          "et1OnlineTotalCases": {
            "type": "string"
          },
          "eccTotalCases": {
            "type": "string"
          },
          "migratedTotalCases": {
            "type": "string"
          },
          "manuallyCreatedTotalCasesPercent": {
            "type": "string"
          },
          "et1OnlineTotalCasesPercent": {
            "type": "string"
          },
          "eccTotalCasesPercent": {
            "type": "string"
          },
          "migratedTotalCasesPercent": {
            "type": "string"
          }
        }
      },
      "AdhocReportTypeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/AdhocReportType"
          }
        }
      },
      "BFActionType": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "cwActions": {
            "type": "string"
          },
          "dateEntered": {
            "type": "string"
          },
          "imported": {
            "type": "string"
          },
          "letters": {
            "type": "string"
          },
          "allActions": {
            "type": "string"
          },
          "bfDate": {
            "type": "string"
          },
          "cleared": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "BFActionTypeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/BFActionType"
          }
        }
      },
      "BFDateType": {
        "type": "object",
        "properties": {
          "caseReference": {
            "type": "string"
          },
          "broughtForwardAction": {
            "type": "string"
          },
          "broughtForwardDate": {
            "type": "string"
          },
          "broughtForwardDateCleared": {
            "type": "string"
          },
          "broughtForwardEnteredDate": {
            "type": "string"
          },
          "broughtForwardDateReason": {
            "type": "string"
          }
        }
      },
      "BFDateTypeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/BFDateType"
          }
        }
      },
      "Bundle": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/BundleDetails"
          }
        }
      },
      "BundleDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "eligibleForStitching": {
            "type": "string"
          },
          "eligibleForCloning": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleDocument"
            }
          },
          "folders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleFolder"
            }
          },
          "stitchStatus": {
            "type": "string"
          },
          "stitchedDocument": {
            "$ref": "#/components/schemas/DocumentLink"
          },
          "hasCoversheets": {
            "type": "string"
          },
          "hasTableOfContents": {
            "type": "string"
          },
          "hasFolderCoversheets": {
            "type": "string"
          },
          "stitchingFailureMessage": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "paginationStyle": {
            "type": "string"
          },
          "coverpageTemplate": {
            "type": "string"
          },
          "pageNumberFormat": {
            "type": "string"
          }
        }
      },
      "BundleDocument": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/BundleDocumentDetails"
          }
        }
      },
      "BundleDocumentDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sortIndex": {
            "type": "integer",
            "format": "int32"
          },
          "sourceDocument": {
            "$ref": "#/components/schemas/DocumentLink"
          }
        }
      },
      "BundleFolder": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/BundleFolderDetails"
          }
        }
      },
      "BundleFolderDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleDocument"
            }
          },
          "folders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleSubfolder"
            }
          },
          "sortIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BundleSubfolder": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/BundleSubfolderDetails"
          }
        }
      },
      "BundleSubfolderDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleDocument"
            }
          }
        }
      },
      "CaseCategory": {
        "required": [
          "categoryType",
          "categoryValue"
        ],
        "type": "object",
        "properties": {
          "categoryType": {
            "type": "string"
          },
          "categoryValue": {
            "maxLength": 70,
            "minLength": 0,
            "type": "string"
          },
          "categoryParent": {
            "maxLength": 70,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "CaseData": {
        "type": "object",
        "properties": {
          "documentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "claimantDocumentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "legalrepDocumentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "nextListedDate": {
            "type": "string"
          },
          "respondentTse": {
            "$ref": "#/components/schemas/RespondentTse"
          },
          "caseFlags": {
            "$ref": "#/components/schemas/CaseFlagsType"
          },
          "claimantFlags": {
            "$ref": "#/components/schemas/CaseFlagsType"
          },
          "respondentFlags": {
            "$ref": "#/components/schemas/CaseFlagsType"
          },
          "waRule21ReferralSent": {
            "type": "string"
          },
          "referralCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferralTypeItem"
            }
          },
          "referralHearingDetails": {
            "type": "string"
          },
          "selectReferral": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "referCaseTo": {
            "type": "string"
          },
          "referentEmail": {
            "type": "string"
          },
          "isUrgent": {
            "type": "string"
          },
          "referralSubject": {
            "type": "string"
          },
          "referralSubjectSpecify": {
            "type": "string"
          },
          "referralDetails": {
            "type": "string"
          },
          "referralDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "referralInstruction": {
            "type": "string"
          },
          "referredBy": {
            "type": "string"
          },
          "referralDate": {
            "type": "string"
          },
          "updateReferralNumber": {
            "type": "string"
          },
          "updateReferCaseTo": {
            "type": "string"
          },
          "updateReferentEmail": {
            "type": "string"
          },
          "updateIsUrgent": {
            "type": "string"
          },
          "updateReferralSubject": {
            "type": "string"
          },
          "updateReferralSubjectSpecify": {
            "type": "string"
          },
          "updateReferralDetails": {
            "type": "string"
          },
          "updateReferralDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "updateReferralInstruction": {
            "type": "string"
          },
          "hearingAndReferralDetails": {
            "type": "string"
          },
          "directionTo": {
            "type": "string"
          },
          "replyToEmailAddress": {
            "type": "string"
          },
          "isUrgentReply": {
            "type": "string"
          },
          "directionDetails": {
            "type": "string"
          },
          "replyDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "replyGeneralNotes": {
            "type": "string"
          },
          "replyTo": {
            "type": "string"
          },
          "replyDetails": {
            "type": "string"
          },
          "isJudge": {
            "type": "string"
          },
          "closeReferralHearingDetails": {
            "type": "string"
          },
          "confirmCloseReferral": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "closeReferralGeneralNotes": {
            "type": "string"
          },
          "digitalCaseFile": {
            "$ref": "#/components/schemas/DigitalCaseFileType"
          },
          "bundleConfiguration": {
            "type": "string"
          },
          "caseBundles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bundle"
            }
          },
          "caseManagementLocation": {
            "$ref": "#/components/schemas/CaseLocation"
          },
          "managingOffice": {
            "type": "string"
          },
          "typeOfClaim": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "typesOfClaim": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caseType": {
            "type": "string"
          },
          "caseSource": {
            "type": "string"
          },
          "claimantRepresentedQuestion": {
            "type": "string"
          },
          "claimantWorkAddressQuestion": {
            "type": "string"
          },
          "ClaimantPcqId": {
            "type": "string"
          },
          "jurCodesCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JurCodesTypeItem"
            }
          },
          "claimantIndType": {
            "$ref": "#/components/schemas/ClaimantIndType"
          },
          "claimantType": {
            "$ref": "#/components/schemas/ClaimantType"
          },
          "representativeClaimantType": {
            "$ref": "#/components/schemas/RepresentedTypeC"
          },
          "claimantOtherType": {
            "$ref": "#/components/schemas/ClaimantOtherType"
          },
          "respondentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RespondentSumTypeItem"
            }
          },
          "claimantWorkAddress": {
            "$ref": "#/components/schemas/ClaimantWorkAddressType"
          },
          "caseNotes": {
            "type": "string"
          },
          "additionalCaseInfo": {
            "$ref": "#/components/schemas/AdditionalCaseInfoType"
          },
          "newEmploymentType": {
            "$ref": "#/components/schemas/NewEmploymentType"
          },
          "claimantRequests": {
            "$ref": "#/components/schemas/ClaimantRequestType"
          },
          "claimantHearingPreference": {
            "$ref": "#/components/schemas/ClaimantHearingPreference"
          },
          "claimantTaskListChecks": {
            "$ref": "#/components/schemas/TaskListCheckType"
          },
          "receiptDate": {
            "type": "string"
          },
          "triageQuestions": {
            "$ref": "#/components/schemas/TriageQuestions"
          },
          "et1OnlineSubmission": {
            "type": "string"
          },
          "hubLinksStatuses": {
            "$ref": "#/components/schemas/HubLinksStatuses"
          },
          "TTL": {
            "$ref": "#/components/schemas/TTL"
          },
          "tribunalCorrespondenceAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "tribunalCorrespondenceTelephone": {
            "type": "string"
          },
          "tribunalCorrespondenceFax": {
            "type": "string"
          },
          "tribunalCorrespondenceDX": {
            "type": "string"
          },
          "tribunalCorrespondenceEmail": {
            "type": "string"
          },
          "ethosCaseReference": {
            "type": "string"
          },
          "multipleName": {
            "type": "string"
          },
          "multipleReference": {
            "type": "string"
          },
          "multipleReferenceLinkMarkUp": {
            "type": "string"
          },
          "parentMultipleCaseId": {
            "type": "string"
          },
          "subMultipleName": {
            "type": "string"
          },
          "leadClaimant": {
            "type": "string"
          },
          "multipleFlag": {
            "type": "string"
          },
          "claimant_TypeOfClaimant": {
            "type": "string"
          },
          "claimant_Company": {
            "type": "string"
          },
          "preAcceptCase": {
            "$ref": "#/components/schemas/CasePreAcceptType"
          },
          "claimServedDate": {
            "type": "string"
          },
          "et3DueDate": {
            "type": "string"
          },
          "feeGroupReference": {
            "type": "string"
          },
          "claimantWorkAddressQRespondent": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "repCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RepresentedTypeRItem"
            }
          },
          "positionType": {
            "type": "string"
          },
          "dateToPosition": {
            "type": "string"
          },
          "currentPosition": {
            "type": "string"
          },
          "fileLocation": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "fileLocationGlasgow": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "fileLocationAberdeen": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "fileLocationDundee": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "fileLocationEdinburgh": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HearingTypeItem"
            }
          },
          "hearingDetailsCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HearingDetailTypeItem"
            }
          },
          "depositType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepositTypeItem"
            }
          },
          "judgementCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JudgementTypeItem"
            }
          },
          "bfActions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BFActionTypeItem"
            }
          },
          "clerkResponsible": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "userLocation": {
            "type": "string"
          },
          "addDocumentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "correspondenceScotType": {
            "$ref": "#/components/schemas/CorrespondenceScotType"
          },
          "correspondenceType": {
            "$ref": "#/components/schemas/CorrespondenceType"
          },
          "addressLabelsSelectionType": {
            "$ref": "#/components/schemas/AddressLabelsSelectionType"
          },
          "addressLabelCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressLabelTypeItem"
            }
          },
          "addressLabelsAttributesType": {
            "$ref": "#/components/schemas/AddressLabelsAttributesType"
          },
          "allocatedOffice": {
            "type": "string"
          },
          "conciliationTrack": {
            "type": "string"
          },
          "counterClaim": {
            "type": "string"
          },
          "eccCases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EccCounterClaimTypeItem"
            }
          },
          "restrictedReporting": {
            "$ref": "#/components/schemas/RestrictedReportingType"
          },
          "printHearingDetails": {
            "$ref": "#/components/schemas/ListingData"
          },
          "printHearingCollection": {
            "$ref": "#/components/schemas/ListingData"
          },
          "targetHearingDate": {
            "type": "string"
          },
          "claimant": {
            "type": "string"
          },
          "claimantId": {
            "type": "string"
          },
          "respondent": {
            "type": "string"
          },
          "EQP": {
            "type": "string"
          },
          "flag1": {
            "type": "string"
          },
          "flag2": {
            "type": "string"
          },
          "docMarkUp": {
            "type": "string"
          },
          "caseRefNumberCount": {
            "type": "string"
          },
          "startCaseRefNumber": {
            "type": "string"
          },
          "multipleRefNumber": {
            "type": "string"
          },
          "caseRefECC": {
            "type": "string"
          },
          "respondentECC": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "ccdID": {
            "type": "string"
          },
          "flagsImageFileName": {
            "type": "string"
          },
          "flagsImageAltText": {
            "type": "string"
          },
          "hearingNumbers": {
            "type": "string"
          },
          "hearingTypes": {
            "type": "string"
          },
          "hearingPublicPrivate": {
            "type": "string"
          },
          "hearingVenue": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingEstLengthNum": {
            "type": "string"
          },
          "hearingEstLengthNumType": {
            "type": "string"
          },
          "hearingSitAlone": {
            "type": "string"
          },
          "Hearing_stage": {
            "type": "string"
          },
          "listedDate": {
            "type": "string"
          },
          "Hearing_notes": {
            "type": "string"
          },
          "hearingSelection": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingActions": {
            "type": "string"
          },
          "hearingERMember": {
            "type": "string"
          },
          "hearingEEMember": {
            "type": "string"
          },
          "hearingDatesRequireAmending": {
            "type": "string"
          },
          "hearingDateSelection": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingDateActions": {
            "type": "string"
          },
          "hearingStatus": {
            "type": "string"
          },
          "Postponed_by": {
            "type": "string"
          },
          "hearingRoom": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingClerk": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingJudge": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "hearingCaseDisposed": {
            "type": "string"
          },
          "Hearing_part_heard": {
            "type": "string"
          },
          "Hearing_reserved_judgement": {
            "type": "string"
          },
          "attendee_claimant": {
            "type": "string"
          },
          "attendee_non_attendees": {
            "type": "string"
          },
          "attendee_resp_no_rep": {
            "type": "string"
          },
          "attendee_resp_&_rep": {
            "type": "string"
          },
          "attendee_rep_only": {
            "type": "string"
          },
          "companyPremises": {
            "$ref": "#/components/schemas/CompanyPremisesType"
          },
          "officeCT": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "reasonForCT": {
            "type": "string"
          },
          "relatedCaseCT": {
            "type": "string"
          },
          "positionTypeCT": {
            "type": "string"
          },
          "linkedCaseCT": {
            "type": "string"
          },
          "transferredCaseLink": {
            "type": "string"
          },
          "transferredCaseLinkSourceCaseId": {
            "type": "string"
          },
          "transferredCaseLinkSourceCaseTypeId": {
            "type": "string"
          },
          "ecmOfficeCT": {
            "type": "string"
          },
          "assignOffice": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "retrospectiveTTL": {
            "type": "string"
          },
          "stateAPI": {
            "type": "string"
          },
          "allocateHearingHearing": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingManagingOffice": {
            "type": "string"
          },
          "allocateHearingVenue": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingRoom": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingClerk": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingSitAlone": {
            "type": "string"
          },
          "allocateHearingJudge": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingEmployerMember": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingEmployeeMember": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "allocateHearingPostponedBy": {
            "type": "string"
          },
          "allocateHearingStatus": {
            "type": "string"
          },
          "allocateHearingReadingDeliberation": {
            "type": "string"
          },
          "hearingDetailsHearing": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "uploadHearingNotesDocument": {
            "$ref": "#/components/schemas/Document"
          },
          "doesHearingNotesDocExist": {
            "type": "string"
          },
          "removeHearingNotesDocument": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hearingDetailsStatus": {
            "type": "string"
          },
          "hearingDetailsPostponedBy": {
            "type": "string"
          },
          "hearingDetailsCaseDisposed": {
            "type": "string"
          },
          "hearingDetailsPartHeard": {
            "type": "string"
          },
          "hearingDetailsReservedJudgment": {
            "type": "string"
          },
          "hearingDetailsAttendeeClaimant": {
            "type": "string"
          },
          "hearingDetailsAttendeeNonAttendees": {
            "type": "string"
          },
          "hearingDetailsAttendeeRespNoRep": {
            "type": "string"
          },
          "hearingDetailsAttendeeRespAndRep": {
            "type": "string"
          },
          "hearingDetailsAttendeeRepOnly": {
            "type": "string"
          },
          "hearingDetailsTimingStart": {
            "type": "string"
          },
          "hearingDetailsTimingBreak": {
            "type": "string"
          },
          "hearingDetailsTimingResume": {
            "type": "string"
          },
          "hearingDetailsTimingFinish": {
            "type": "string"
          },
          "hearingDetailsTimingDuration": {
            "type": "string"
          },
          "hearingDetailsHearingNotes2": {
            "type": "string"
          },
          "trackType": {
            "type": "string"
          },
          "et1VettingDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et1VettingBeforeYouStart": {
            "type": "string"
          },
          "et1VettingClaimantDetailsMarkUp": {
            "type": "string"
          },
          "et1VettingRespondentDetailsMarkUp": {
            "type": "string"
          },
          "et1VettingCanServeClaimYesOrNo": {
            "type": "string"
          },
          "et1VettingCanServeClaimNoReason": {
            "type": "string"
          },
          "et1VettingCanServeClaimGeneralNote": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetails1": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetails2": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetails3": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetails4": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetails5": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetails6": {
            "type": "string"
          },
          "et1VettingAcasCertIsYesOrNo1": {
            "type": "string"
          },
          "et1VettingAcasCertExemptYesOrNo1": {
            "type": "string"
          },
          "et1VettingAcasCertIsYesOrNo2": {
            "type": "string"
          },
          "et1VettingAcasCertExemptYesOrNo2": {
            "type": "string"
          },
          "et1VettingAcasCertIsYesOrNo3": {
            "type": "string"
          },
          "et1VettingAcasCertExemptYesOrNo3": {
            "type": "string"
          },
          "et1VettingRespondentAcasDetailsLabel4": {
            "type": "string"
          },
          "et1VettingAcasCertIsYesOrNo4": {
            "type": "string"
          },
          "et1VettingAcasCertExemptYesOrNo4": {
            "type": "string"
          },
          "et1VettingAcasCertIsYesOrNo5": {
            "type": "string"
          },
          "et1VettingAcasCertExemptYesOrNo5": {
            "type": "string"
          },
          "et1VettingAcasCertIsYesOrNo6": {
            "type": "string"
          },
          "et1VettingAcasCertExemptYesOrNo6": {
            "type": "string"
          },
          "et1VettingAcasCertGeneralNote": {
            "type": "string"
          },
          "et1VettingCompletedBy": {
            "type": "string"
          },
          "et1DateCompleted": {
            "type": "string"
          },
          "icCompletedBy": {
            "type": "string"
          },
          "icDateCompleted": {
            "type": "string"
          },
          "substantiveDefectsList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rule121aTextArea": {
            "type": "string"
          },
          "rule121bTextArea": {
            "type": "string"
          },
          "rule121cTextArea": {
            "type": "string"
          },
          "rule121dTextArea": {
            "type": "string"
          },
          "rule121daTextArea": {
            "type": "string"
          },
          "rule121eTextArea": {
            "type": "string"
          },
          "rule121fTextArea": {
            "type": "string"
          },
          "et1SubstantiveDefectsGeneralNotes": {
            "type": "string"
          },
          "areTheseCodesCorrect": {
            "type": "string"
          },
          "codesCorrectGiveDetails": {
            "type": "string"
          },
          "et1JurisdictionCodeGeneralNotes": {
            "type": "string"
          },
          "existingJurisdictionCodes": {
            "type": "string"
          },
          "vettingJurisdictionCodeCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VettingJurCodesTypeItem"
            }
          },
          "isTrackAllocationCorrect": {
            "type": "string"
          },
          "suggestAnotherTrack": {
            "type": "string"
          },
          "whyChangeTrackAllocation": {
            "type": "string"
          },
          "trackAllocationGeneralNotes": {
            "type": "string"
          },
          "isLocationCorrect": {
            "type": "string"
          },
          "whyChangeOffice": {
            "type": "string"
          },
          "et1LocationGeneralNotes": {
            "type": "string"
          },
          "trackAllocation": {
            "type": "string"
          },
          "tribunalAndOfficeLocation": {
            "type": "string"
          },
          "regionalOffice": {
            "type": "string"
          },
          "regionalOfficeList": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "et1AddressDetails": {
            "type": "string"
          },
          "et1TribunalRegion": {
            "type": "string"
          },
          "et1HearingVenues": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "et1SuggestHearingVenue": {
            "type": "string"
          },
          "et1HearingVenueGeneralNotes": {
            "type": "string"
          },
          "et1GovOrMajorQuestion": {
            "type": "string"
          },
          "et1ReasonableAdjustmentsQuestion": {
            "type": "string"
          },
          "et1ReasonableAdjustmentsTextArea": {
            "type": "string"
          },
          "et1VideoHearingQuestion": {
            "type": "string"
          },
          "et1VideoHearingTextArea": {
            "type": "string"
          },
          "et1FurtherQuestionsGeneralNotes": {
            "type": "string"
          },
          "referralToJudgeOrLOList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aClaimOfInterimReliefTextArea": {
            "type": "string"
          },
          "aStatutoryAppealTextArea": {
            "type": "string"
          },
          "anAllegationOfCommissionOfSexualOffenceTextArea": {
            "type": "string"
          },
          "insolvencyTextArea": {
            "type": "string"
          },
          "jurisdictionsUnclearTextArea": {
            "type": "string"
          },
          "lengthOfServiceTextArea": {
            "type": "string"
          },
          "potentiallyLinkedCasesInTheEcmTextArea": {
            "type": "string"
          },
          "rule50IssuesTextArea": {
            "type": "string"
          },
          "anotherReasonForJudicialReferralTextArea": {
            "type": "string"
          },
          "et1JudgeReferralGeneralNotes": {
            "type": "string"
          },
          "referralToREJOrVPList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "vexatiousLitigantOrderTextArea": {
            "type": "string"
          },
          "aNationalSecurityIssueTextArea": {
            "type": "string"
          },
          "nationalMultipleOrPresidentialOrderTextArea": {
            "type": "string"
          },
          "transferToOtherRegionTextArea": {
            "type": "string"
          },
          "serviceAbroadTextArea": {
            "type": "string"
          },
          "aSensitiveIssueTextArea": {
            "type": "string"
          },
          "anyPotentialConflictTextArea": {
            "type": "string"
          },
          "anotherReasonREJOrVPTextArea": {
            "type": "string"
          },
          "et1REJOrVPReferralGeneralNotes": {
            "type": "string"
          },
          "otherReferralList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "claimOutOfTimeTextArea": {
            "type": "string"
          },
          "multipleClaimTextArea": {
            "type": "string"
          },
          "employmentStatusIssuesTextArea": {
            "type": "string"
          },
          "pidJurisdictionRegulatorTextArea": {
            "type": "string"
          },
          "videoHearingPreferenceTextArea": {
            "type": "string"
          },
          "rule50IssuesForOtherReferralTextArea": {
            "type": "string"
          },
          "anotherReasonForOtherReferralTextArea": {
            "type": "string"
          },
          "et1OtherReferralGeneralNotes": {
            "type": "string"
          },
          "et1VettingAdditionalInformationTextArea": {
            "type": "string"
          },
          "servingDocumentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "otherTypeDocumentName": {
            "type": "string"
          },
          "servingDocumentRecipient": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "claimantAndRespondentAddresses": {
            "type": "string"
          },
          "emailLinkToAcas": {
            "type": "string"
          },
          "et3ChooseRespondent": {
            "$ref": "#/components/schemas/DynamicFixedListType"
          },
          "et3Date": {
            "type": "string"
          },
          "et3IsThereAnEt3Response": {
            "type": "string"
          },
          "et3NoEt3Response": {
            "type": "string"
          },
          "et3GeneralNotes": {
            "type": "string"
          },
          "et3IsThereACompaniesHouseSearchDocument": {
            "type": "string"
          },
          "et3CompanyHouseDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3GeneralNotesCompanyHouse": {
            "type": "string"
          },
          "et3IsThereAnIndividualSearchDocument": {
            "type": "string"
          },
          "et3IndividualInsolvencyDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "et3GeneralNotesIndividualInsolvency": {
            "type": "string"
          },
          "et3LegalIssue": {
            "type": "string"
          },
          "et3LegalIssueGiveDetails": {
            "type": "string"
          },
          "et3GeneralNotesLegalEntity": {
            "type": "string"
          },
          "et3ResponseInTime": {
            "type": "string"
          },
          "et3ResponseInTimeDetails": {
            "type": "string"
          },
          "et3NameAddressRespondent": {
            "type": "string"
          },
          "et3DoWeHaveRespondentsName": {
            "type": "string"
          },
          "et3GeneralNotesRespondentName": {
            "type": "string"
          },
          "et3DoesRespondentsNameMatch": {
            "type": "string"
          },
          "et3RespondentNameMismatchDetails": {
            "type": "string"
          },
          "et3GeneralNotesRespondentNameMatch": {
            "type": "string"
          },
          "et3DoWeHaveRespondentsAddress": {
            "type": "string"
          },
          "et3DoesRespondentsAddressMatch": {
            "type": "string"
          },
          "et3RespondentAddressMismatchDetails": {
            "type": "string"
          },
          "et3GeneralNotesRespondentAddress": {
            "type": "string"
          },
          "et3GeneralNotesAddressMatch": {
            "type": "string"
          },
          "et3HearingDetails": {
            "type": "string"
          },
          "et3IsCaseListedForHearing": {
            "type": "string"
          },
          "et3IsCaseListedForHearingDetails": {
            "type": "string"
          },
          "et3GeneralNotesCaseListed": {
            "type": "string"
          },
          "et3TribunalLocation": {
            "type": "string"
          },
          "et3IsThisLocationCorrect": {
            "type": "string"
          },
          "et3GeneralNotesTransferApplication": {
            "type": "string"
          },
          "et3RegionalOffice": {
            "type": "string"
          },
          "et3WhyWeShouldChangeTheOffice": {
            "type": "string"
          },
          "et3ContestClaim": {
            "type": "string"
          },
          "et3ContestClaimGiveDetails": {
            "type": "string"
          },
          "et3GeneralNotesContestClaim": {
            "type": "string"
          },
          "et3ContractClaimSection7": {
            "type": "string"
          },
          "et3ContractClaimSection7Details": {
            "type": "string"
          },
          "et3GeneralNotesContractClaimSection7": {
            "type": "string"
          },
          "et3Rule26": {
            "type": "string"
          },
          "et3Rule26Details": {
            "type": "string"
          },
          "et3SuggestedIssues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "et3SuggestedIssuesStrikeOut": {
            "type": "string"
          },
          "et3SuggestedIssueInterpreters": {
            "type": "string"
          },
          "et3SuggestedIssueJurisdictional": {
            "type": "string"
          },
          "et3SuggestedIssueAdjustments": {
            "type": "string"
          },
          "et3SuggestedIssueRule50": {
            "type": "string"
          },
          "et3SuggestedIssueTimePoints": {
            "type": "string"
          },
          "et3GeneralNotesRule26": {
            "type": "string"
          },
          "et3AdditionalInformation": {
            "type": "string"
          },
          "etInitialConsiderationDocument": {
            "$ref": "#/components/schemas/UploadedDocumentType"
          },
          "etInitialConsiderationRespondent": {
            "type": "string"
          },
          "icRespondentHearingPanelPreference": {
            "type": "string"
          },
          "icRespondentHearingPanelPreferenceReason": {
            "type": "string"
          },
          "etInitialConsiderationHearing": {
            "type": "string"
          },
          "etIcHearingPanelPreference": {
            "type": "string"
          },
          "etInitialConsiderationJurisdictionCodes": {
            "type": "string"
          },
          "icReceiptET3FormIssues": {
            "type": "string"
          },
          "icRespondentsNameIdentityIssues": {
            "type": "string"
          },
          "icJurisdictionCodeIssues": {
            "type": "string"
          },
          "icApplicationIssues": {
            "type": "string"
          },
          "icEmployersContractClaimIssues": {
            "type": "string"
          },
          "icClaimProspectIssues": {
            "type": "string"
          },
          "icListingIssues": {
            "type": "string"
          },
          "icListingPreliminaryHearing": {
            "type": "string"
          },
          "icDdaDisabilityIssues": {
            "type": "string"
          },
          "icOrderForFurtherInformation": {
            "type": "string"
          },
          "icOtherIssuesOrFinalOrders": {
            "type": "string"
          },
          "etICJuridictionCodesInvalid": {
            "type": "string"
          },
          "etICInvalidDetails": {
            "type": "string"
          },
          "etICCanProceed": {
            "type": "string"
          },
          "etICHearingAlreadyListed": {
            "type": "string"
          },
          "etICHearingNotListedList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "etICHearingNotListedSeekComments": {
            "$ref": "#/components/schemas/EtICSeekComments"
          },
          "etICHearingNotListedListForPrelimHearing": {
            "$ref": "#/components/schemas/EtICListForPreliminaryHearing"
          },
          "etICHearingNotListedListForFinalHearing": {
            "$ref": "#/components/schemas/EtICListForFinalHearing"
          },
          "etICHearingNotListedUDLHearing": {
            "$ref": "#/components/schemas/EtIcudlHearing"
          },
          "etICHearingNotListedAnyOtherDirections": {
            "type": "string"
          },
          "etICHearingNotListedListUpdated": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "etICHearingNotListedListForPrelimHearingUpdated": {
            "$ref": "#/components/schemas/EtICListForPreliminaryHearingUpdated"
          },
          "etICHearingNotListedListForFinalHearingUpdated": {
            "$ref": "#/components/schemas/EtICListForFinalHearingUpdated"
          },
          "etICHearingNotListedDoNotListHearingDirections": {
            "type": "string"
          },
          "etICHearingNotListedOtherDirections": {
            "type": "string"
          },
          "etICHearingListedAnswers": {
            "$ref": "#/components/schemas/EtICHearingListedAnswers"
          },
          "etICHearingListed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "etICExtendDurationGiveDetails": {
            "type": "string"
          },
          "etICOtherGiveDetails": {
            "type": "string"
          },
          "etICHearingAnyOtherDirections": {
            "type": "string"
          },
          "etICPostponeGiveDetails": {
            "type": "string"
          },
          "etICConvertPreliminaryGiveDetails": {
            "type": "string"
          },
          "etICConvertF2fGiveDetails": {
            "type": "string"
          },
          "etICFurtherInformation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "etICFurtherInfoAnswers": {
            "$ref": "#/components/schemas/EtICFurtherInfoAnswers"
          },
          "etICFurtherInformationHearingAnyOtherDirections": {
            "type": "string"
          },
          "etICFurtherInformationGiveDetails": {
            "type": "string"
          },
          "etICFurtherInformationTimeToComply": {
            "type": "string"
          },
          "etInitialConsiderationRule27": {
            "$ref": "#/components/schemas/EtInitialConsiderationRule27"
          },
          "etInitialConsiderationRule28": {
            "$ref": "#/components/schemas/EtInitialConsiderationRule28"
          },
          "icDocumentCollection1": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "icDocumentCollection2": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "icDocumentCollection3": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "icAllDocumentCollection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTypeItem"
            }
          },
          "et3ResponseShowInset": {
            "type": "string"
          },
          "et3ResponseClaimantName": {
            "type": "string"
          },
          "et3ResponseIsClaimantNameCorrect": {
            "type": "string"
          },
          "et3ResponseClaimantNameCorrection": {
            "type": "string"
          },
          "et3ResponseNameShowInset": {
            "type": "string"
          },
          "et3ResponseRespondentLegalName": {
            "type": "string"
          },
          "et3ResponseRespondentCompanyNumber": {
            "type": "string"
          },
          "et3ResponseRespondentEmployerType": {
            "type": "string"
          },
          "et3ResponseRespondentPreferredTitle": {
            "type": "string"
          },
          "et3ResponseRespondentContactName": {
            "type": "string"
          },
          "et3RespondentAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "et3ResponseDXAddress": {
            "type": "string"
          },
          "et3ResponsePhone": {
            "type": "string"
          },
          "et3ResponseReference": {
            "type": "string"
          },
          "et3ResponseContactPreference": {
            "type": "string"
          },
          "et3ResponseContactReason": {
            "type": "string"
          },
          "et3ResponseHearingRepresentative": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "et3ResponseHearingRespondent": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "et3ResponseEmploymentCount": {
            "type": "string"
          },
          "et3ResponseMultipleSites": {
            "type": "string"
          },
[...]
