{
    "swagger": "2.0",
    "info": {
        "title": "hmi-apim-api",
        "version": "1.0"
    },
    "host": "hmi-apim-svc-sbox.azure-api.net",
    "basePath": "/hmi",
    "schemes": ["http", "https"],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [{
        "apiKeyHeader": []
    }, {
        "apiKeyQuery": []
    }],
    "paths": {
        "/hearings": {
            "post": {
                "description": "Request Hearing",
                "operationId": "request-hearing",
                "summary": "Request Hearing",
                "parameters": [{
                    "name": "Source",
                    "in": "header",
                    "description": "soruce of the request initiation\n",
                    "required": true,
                    "type": "string",
                    "enum": ["SnL"]
                }, {
                    "name": "Destination",
                    "in": "header",
                    "description": "Target/Backend system that is supposed to consume the request message.",
                    "required": true,
                    "type": "string",
                    "enum": ["CFT"]
                }, {
                    "name": "DateTime",
                    "in": "header",
                    "description": "Date and time of request initiation.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "RequestType",
                    "in": "header",
                    "description": "Type of request",
                    "required": true,
                    "type": "string",
                    "enum": ["THEFT", "ASSAULT"]
                }, {
                    "name": "rh-def",
                    "in": "body",
                    "schema": {
                        "$ref": "#/definitions/rh-def"
                    }
                }],
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "examples": {
                            "application/json": {
                                "Name": "HMCTS",
                                "Place": "London"
                            }
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "description": "Health-Check",
                "operationId": "health-check",
                "summary": "Health-Check",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/listing": {
            "get": {
                "operationId": "listing",
                "summary": "Listing",
                "parameters": [{
                    "name": "type",
                    "in": "query",
                    "type": "string",
                    "enum": ["hearing-schedule"]
                }, {
                    "name": "hearingIdCaseHQ",
                    "in": "query",
                    "type": "string",
                    "enum": ["5f2bffce29c77b6fef1e7488"]
                }],
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/rh-res-hearing-schedule"
                        },
                        "examples": {
                            "application/json": {
                                "apiVersion": "V1.00103",
                                "transactionIdCaseHQ": "5f2bffce09fb0feadaf7b906",
                                "transactionIdHMCTS": "5f2bffcea47aedacc86d35cf",
                                "timeStamp": "12:15:22",
                                "listingId": "5f2bffcec0d5d73e929923fa",
                                "hearingIdCaseHQ": "5f2bffce29c77b6fef1e7488",
                                "hearingType": "Crime",
                                "hearingPriority": "High",
                                "hearingDate": "2020-01-28T07:57:08 -00:00",
                                "hearingStartTime": "08:45",
                                "hearingEndTime": "09:00",
                                "hearingWelshLanguage": "No",
                                "hearingPrivate": "Yes",
                                "hearingCaseIdHMCTS": "5f2bffcee0b6aa870e82f007",
                                "hearingSessionIdCaseHQ": "5f2bffceef36b0eaf339d884",
                                "hearingTranslatorRequired": "No",
                                "hearingTranslatorLanguage": "n/a",
                                "hearingOutcome": "To be hanged till death",
                                "hearingCreatedDate": "2019-12-28T07:57:08 -00:00",
                                "hearingCreatedBy": "Dimitry Mascaranhus",
                                "hearingParticipantId": "5f2bffce90a69eb81aaec725",
                                "hearingVenueId": "V3455",
                                "hearingRoomId": "R2345",
                                "hearingJudgeId": "HJ123"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "rh-def": {
            "type": "object",
            "properties": {
                "Case Title": {
                    "type": "string"
                },
                "Case Id": {
                    "type": "string"
                },
                "TransactionIDHMCTS": {
                    "type": "string"
                },
                "Venue": {
                    "type": "string"
                },
                "Jurisdiction": {
                    "type": "string"
                },
                "Service": {
                    "type": "string"
                },
                "Case Type": {
                    "type": "string"
                },
                "Hearing Type": {
                    "type": "string"
                },
                "Priority": {
                    "type": "string"
                },
                "Status of the Listing Request": {
                    "type": "string"
                },
                "Ticket Type required ": {
                    "type": "string"
                },
                "Waiting time KPI": {
                    "type": "integer"
                },
                "Reason for STL change": {
                    "type": "string"
                },
                "Estimated Duration of the Hearing ": {
                    "type": "integer"
                },
                "Hearing channel": {
                    "type": "string"
                },
                "Private Hearing": {
                    "type": "boolean"
                },
                "Allocated Listing Team": {
                    "type": "string"
                }
            },
            "example": {
                "Case Title": "Divorce",
                "Case Id": "Div-24",
                "TransactionIDHMCTS": "TR123456",
                "Venue": "Manchester",
                "Jurisdiction": "String",
                "Service": "CFT",
                "Case Type": "Divore",
                "Hearing Type": "Civil",
                "Priority": "High",
                "Status of the Listing Request": "String",
                "Ticket Type required ": "String",
                "Waiting time KPI": 55,
                "Reason for STL change": "String",
                "Estimated Duration of the Hearing ": 30,
                "Hearing channel": "Online Streaming",
                "Private Hearing": true,
                "Allocated Listing Team": "Team A"
            }
        },
        "rh-res-hearing-schedule": {
            "type": "object",
            "properties": {
                "apiVersion": {
                    "type": "string"
                },
                "transactionIdCaseHQ": {
                    "type": "string"
                },
                "transactionIdHMCTS": {
                    "type": "string"
                },
                "timeStamp": {
                    "type": "string"
                },
                "listingId": {
                    "type": "string"
                },
                "hearingIdCaseHQ": {
                    "type": "string"
                },
                "hearingType": {
                    "type": "string"
                },
                "hearingPriority": {
                    "type": "string"
                },
                "hearingDate": {
                    "type": "string"
                },
                "hearingStartTime": {
                    "type": "string"
                },
                "hearingEndTime": {
                    "type": "string"
                },
                "hearingWelshLanguage": {
                    "type": "string"
                },
                "hearingPrivate": {
                    "type": "string"
                },
                "hearingCaseIdHMCTS": {
                    "type": "string"
                },
                "hearingSessionIdCaseHQ": {
                    "type": "string"
                },
                "hearingTranslatorRequired": {
                    "type": "string"
                },
                "hearingTranslatorLanguage": {
                    "type": "string"
                },
                "hearingOutcome": {
                    "type": "string"
                },
                "hearingCreatedDate": {
                    "type": "string"
                },
                "hearingCreatedBy": {
                    "type": "string"
                },
                "hearingParticipantId": {
                    "type": "string"
                },
                "hearingVenueId": {
                    "type": "string"
                },
                "hearingRoomId": {
                    "type": "string"
                },
                "hearingJudgeId": {
                    "type": "string"
                }
            }
        }
    },
    "tags": []
}
